http_interactions:
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/biogeographicStatus/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/hal+json; version=1;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"_embedded":{"biogeographicStatus":[{"id":"P","name":"Présente (indigène
        ou indéterminé)","definition":"Taxon présent au sens large dans la zone géographique
        considérée, c''est‐à-dire taxon indigène ou taxon dont on ne sait pas s’il
        appartient à l''une des autres catégories. Les taxons hivernant quelques mois
        de l’année entrent dans cette catégorie.","_links":{"self":{"href":"https://taxref.mnhn.fr/api/biogeographicStatus/P"},"taxrefUri":{"href":"http://taxref.mnhn.fr/lod/bioGeoStatus/P"}}},{"id":"E","name":"Endémique","definition":"Taxon
        naturellement restreint à la zone géographique considérée.","_links":{"self":{"href":"https://taxref.mnhn.fr/api/biogeographicStatus/E"},"taxrefUri":{"href":"http://taxref.mnhn.fr/lod/bioGeoStatus/E"},"tdwgUri":{"href":"http://rs.tdwg.org/ontology/voc/SPMInfoItems#Endemic"}}},{"id":"S","name":"Subendémique","definition":"Taxon
        naturellement restreint à une zone un peu plus grande que la zone géographique
        considérée mais dont les principales populations se situent dans la zone géographique
        considérée.","_links":{"self":{"href":"https://taxref.mnhn.fr/api/biogeographicStatus/S"},"taxrefUri":{"href":"http://taxref.mnhn.fr/lod/bioGeoStatus/S"}}},{"id":"C","name":"Cryptogène","defini[...]
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/blabla
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 503
      category: Server error
      reason: Not Found
      message: 'Client error: (404) Not Found'
    headers:
      content-language: fr
      content-type: text/html;charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '<html><head><title>Apache Tomcat/7.0.53 - Rapport d''''erreur</title><style><!--H1
        {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:22px;}
        H2 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:16px;}
        H3 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:14px;}
        BODY {font-family:Tahoma,Arial,sans-serif;color:black;background-color:white;}
        B {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;}
        P {font-family:Tahoma,Arial,sans-serif;background:white;color:black;font-size:12px;}A
        {color : black;}A.name {color : black;}HR {color : #525D76;}--></style> </head><body><h1>Etat
        HTTP 404 - </h1><HR size="1" noshade="noshade"><p><b>type</b> Rapport d''''état</p><p><b>message</b>
        <u></u></p><p><b>description</b> <u>La ressource demandée n''''est pas disponible.</u></p><HR
        size="1" noshade="noshade"><h3>Apache Tomcat/7.0.53</h3></body></html>'
  recorded_at: 2022-06-10 17:53:21 GMT
  recorded_with: vcr/1.0.2.93, webmockr/0.8.0
