http_interactions:
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/biogeographicStatus
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/hal+json; version=1;charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"_embedded\":{\"biogeographicStatus\":[{\"id\":\"P\",\"name\":\"Présente
        (indigène ou indéterminé)\",\"definition\":\"Taxon présent au sens large
        dans la zone géographique considérée, c'est�\x90à-dire taxon indigène
        ou taxon dont on ne sait pas s’il appartient à l'une des autres catégories.
        Les taxons hivernant quelques mois de l’année entrent dans cette catégorie.\",\"_links\":{\"self\":{\"href\":\"https://taxref.mnhn.fr/api/biogeographicStatus/P\"},\"taxrefUri\":{\"href\":\"http://taxref.mnhn.fr/lod/bioGeoStatus/P\"}}},{\"id\":\"E\",\"name\":\"Endémique\",\"definition\":\"Taxon
        naturellement restreint à la zone géographique considérée.\",\"_links\":{\"self\":{\"href\":\"https://taxref.mnhn.fr/api/biogeographicStatus/E\"},\"taxrefUri\":{\"href\":\"http://taxref.mnhn.fr/lod/bioGeoStatus/E\"},\"tdwgUri\":{\"href\":\"http://rs.tdwg.org/ontology/voc/SPMInfoItems#Endemic\"}}},{\"id\":\"S\",\"name\":\"Subendémique\",\"definition\":\"Taxon
        naturellement restreint à une zone un peu plus grande que la zone géographique
        considérée mais dont les principales populations se situent dans la zone
        géographique considérée.\",\"_links\":{\"self\":{\"href\":\"https://taxref.mnhn.fr/api/biogeographicStatus/S\"},\"taxrefUri\":{\"href\":\"http://taxref.mnhn.fr/lod/bioGeoStatus/S\"}}},{\"id\"[...]
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/biogeographicStatus/P
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/hal+json; version=1;charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"id\":\"P\",\"name\":\"Présente (indigène ou indéterminé)\",\"definition\":\"Taxon
        présent au sens large dans la zone géographique considérée, c'est�\x90à-dire
        taxon indigène ou taxon dont on ne sait pas s’il appartient à l'une des
        autres catégories. Les taxons hivernant quelques mois de l’année entrent
        dans cette catégorie.\",\"_links\":{\"self\":{\"href\":\"https://taxref.mnhn.fr/api/biogeographicStatus/P\"},\"taxrefUri\":{\"href\":\"http://taxref.mnhn.fr/lod/bioGeoStatus/P\"}}}"
  recorded_at: 2019-03-26 10:55:16 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/biogeographicStatus/ASDF
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 404
      category: Client error
      reason: Not Found
      message: 'Client error: (404) Not Found'
    headers:
      content-type: text/plain
    body:
      encoding: UTF-8
      string: ''
  recorded_at: 2019-03-26 10:55:16 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/biogeographicStatus/1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 404
      category: Client error
      reason: Not Found
      message: 'Client error: (404) Not Found'
    headers:
      content-type: text/plain
    body:
      encoding: UTF-8
      string: ''
  recorded_at: 2019-03-26 10:55:16 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
