http_interactions:
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/externalDb
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/hal+json; version=1;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"_embedded":{"externalDb":[{"id":"algaebase","name":"AlgaeBase","title":"AlgaeBase.
        World-wide electronic publication, National University of Ireland, Galway","websiteUrl":"http://www.algaebase.org","authors":"Guiry,
        M.D. & Guiry, G.M.","_links":{"self":{"href":"https://taxref.mnhn.fr/api/externalDb/algaebase"}}},{"id":"antcat","name":"ANTCAT","title":"An
        Online Catalog of the Ants of the World","websiteUrl":"http://www.antcat.org","authors":"Bolton,
        B.","_links":{"self":{"href":"https://taxref.mnhn.fr/api/externalDb/antcat"}}},{"id":"aphidsf","name":"Aphid
        Species File","title":"Aphid Species File","websiteUrl":"http://Aphid.SpeciesFile.org","authors":"Favret,
        C.","_links":{"self":{"href":"https://taxref.mnhn.fr/api/ext[...]
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/externalDb/antcat
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/hal+json; version=1;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"antcat","name":"ANTCAT","title":"An Online Catalog of the Ants
        of the World","websiteUrl":"http://www.antcat.org","authors":"Bolton, B.","_links":{"self":{"href":"https://taxref.mnhn.fr/api/externalDb/antcat"}}}'
  recorded_at: 2019-03-25 17:14:19 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
[...]
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/externalDb/asdf
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 404
      category: Client error
      reason: Not Found
      message: 'Client error: (404) Not Found'
    headers:
      content-type: text/plain
    body:
      encoding: UTF-8
      string: ''
  recorded_at: 2019-03-25 17:14:19 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/externalDb/1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 404
      category: Client error
      reason: Not Found
      message: 'Client error: (404) Not Found'
    headers:
      content-type: text/plain
    body:
      encoding: UTF-8
      string: ''
  recorded_at: 2019-03-25 17:14:19 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
