http_interactions:
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/interactions/search/?taxrefId=239523&page=1&size=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/hal+json; version=1;charset=UTF-8
    body:
      encoding: UTF-8
      file: ~
      string: '{"_embedded":{"interactions":[{"taxon":{"id":239523,"scientificName":null,"fullNameHtml":"<i>Apis
        mellifera</i> Linnaeus, 1758","referenceId":239523,"parentId":null,"referenceNameHtml":"<i>Apis
        mellifera</i> Linnaeus, 1758"},"relationId":"POLLINISATEUR","relationName":"est
        un pollinisateur de","specificity":"régulière","inherited":false,"target":{"id":86399,"scientificName":null,"fullNameHtml":"<i>Brassica
        napus</i> L., 1753","referenceId":86399,"parentId":null,"referenceNameHtml":"<i>Brassica
        napus</i> L., 1753"},"source":{"id":204031,"fullCitation":"FranceAgriMer,
        ITSAP, MAAF, SNHF, Astredhor, Vaal&#39;hor, INRA, CNPAIM, Gnis &amp; SBF.
        2017. <em>Liste des plantes attractives pour les abeilles. Plantes nectarif&egrave;res
        et pollinif&egrave;res &agrave; semer et &agrave; planter</em>. 24 pp.","url":null,"doi":null,"doiUri":null,"zooBankId":null,"zooBankUri":null,"abstract":null},"_links":{"self":{"href":"https://taxref.mnhn.fr/api/interactions/0"}}}]},"_links":{"self":{"href":"https://taxref.mnhn.fr/api/interactions/search?taxrefId=239523&page=1&size=1{&interactionTypeId,operationalGroupId}","templated":true},"first":{"href":"https://taxref.mnhn.fr/api/interactions/search?taxrefId=239523&page=1&size=1{&interactionTypeId,operationalGroupId}","templated":true},"next":{"href":"https://taxref.mnhn.fr/api/interactions/search?taxrefId=239523&page=2&size=1{&interactionTypeId,operationalGroupId}","templated":true},"last":{"href":"https://taxref.mnhn.fr/api/interactions/search?taxrefId=239523&page=366&size=1{&interactionTypeId,operationalGroupId}","templated":true}},"page":{"size":1,"totalElements":366,"totalPages":366,"number":1}}'
  recorded_at: 2022-06-12 11:06:47 GMT
  recorded_with: vcr/1.0.2.93, webmockr/0.8.0
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/interactions/search/?taxrefId=239523&interactionTypeId=PARASITE&page=1&size=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/hal+json; version=1;charset=UTF-8
    body:
      encoding: UTF-8
      file: ~
      string: '{"_embedded":{"interactions":[{"taxon[...]
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/interactions/search/?taxrefId=239523&interactionTypeId=PREDATEUR&page=1&size=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/hal+json; version=1;charset=UTF-8
    body:
      encoding: UTF-8
      file: ~
      string: '{"_embedded":{"interactions":[{"taxo[...]
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/interactions/search/?operationalGroupId=706&page=1&size=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/hal+json; version=1;charset=UTF-8
    body:
      encoding: UTF-8
      file: ~
      string: '{"_embedded":{"interactions":[{"taxon":{"id":159424,"scie[...]
[...]
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/interactions/search/?taxrefId=ASDF&page=1&size=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 400
      category: Client error
      reason: Bad Request
      message: 'Client error: (400) Bad Request'
    headers:
      content-language: fr
      content-type: text/html;charset=utf-8
    body:
      encoding: UTF-8
      file: ~
      string: '<html><head><title>Apache Tomcat/7.0.53 - Rapport d''''erreur</title><style><!--H1
        {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:22px;}
        H2 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:16px;}
        H3 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:14px;}
        BODY {font-family:Tahoma,Arial,sans-serif;color:black;background-color:white;}
        B {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;}
        P {font-family:Tahoma,Arial,sans-serif;background:white;color:black;font-size:12px;}A
        {color : black;}A.name {color : black;}HR {color : #525D76;}--></style> </head><body><h1>Etat
        HTTP 400 - </h1><HR size="1" noshade="noshade"><p><b>type</b> Rapport d''''état</p><p><b>message</b>
        <u></u></p><p><b>description</b> <u>La requête envoyée par le client était
        syntaxiquement incorrecte.</u></p><HR size="1" noshade="noshade"><h3>Apache
        Tomcat/7.0.53</h3></body></html>'
  recorded_at: 2022-06-12 11:06:47 GMT
  recorded_with: vcr/1.0.2.93, webmockr/0.8.0
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/interactions/search/?taxrefId=52419&taxrefId=52420&page=1&size=5
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/hal+json; version=1;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"_embedded":{"interactions":[{"id":204,"taxon":{"id":52419,"scientificName":"Abia
        candens","fullNameHtml":"<i>Abia candens</i> Konow, 1887","referenceId":52419,"parentId":188663,"referenceNameHtml":"<i>Abia
        candens</i> Konow, 1887"},"taxonSex":null,"taxonStage":null,"relationId":"NUTRIMENT","relationName":"acquiert
        des nutriments par (y compris herbivorie)","specificity":null,"inherited":false,"target":{"id":125295,"scientificName":"Succisa
        pratensis","fullNameHtml":"<i>Succisa pratensis</i> Moench, 1794","referenceId":125295,"parentId":198090,"referenceNameHtml":"<i>Succisa
        pratensis</i> Moench, 1794"},"targetStage":null,"source":{"id":121441,"shortCitation":null,"year":null,"fullCitation":"Savina,
        H. & Liston, A. D. 2009. European <i>Abia </i>species feeding on Dipsacaceae,
        with description of the larva of <i>A. fulgens</i> Zaddach, 1863 (Hymenoptera,
        Symphyta, Cimbicidae). <i>Bulletin de la société entomologique de France</i>,
        114(3): 265-276.","url":"https://inpn.mnhn.fr/docs-web/docs/download/121441","doi":null,"doiUri":null,"zooBankId":null,"zooBankUri":null,"abstract":null},"_links":{"self":{"href":"https://taxref.mnhn.fr/a[...]
