http_interactions:
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/interactions/findByType/PREDATEUR?page=1&size=5
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/hal+json; version=1;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"_embedded":{"interactions":[{"taxon":{"id":10362,"scientificName":null,"fullNameHtml":"<i>Ablattaria
        laevigata</i> (Fabricius, 1775)","referenceId":10362,"parentId":null,"referenceNameHtml":"<i>Ablattaria
        laevigata</i> (Fabricius, 1775)"},"relationId":"PREDATEUR","relationName":"est
        un prédateur de","specificity":"régulière","inherited":false,"target":{"id":64233,"scientificName":null,"fullNameHtml":"<i>Theba
        pisana</i> (O.F. Müller, 1774)","referenceId":64233,"parentId":null,"referenceNameHtml":"<i>Theba
        pisana</i> (O.F. Müller, 1774)"},"source":{"id":197629,"fullCitation":"Martir&eacute;,
        D. &amp; Merlier, F. 2017. <em>Guide des plus beaux col&eacute;opt&egrave;res</em>.
        Collection R&eacute;f&eacute;rences Nature. Belin. 319 pp.","url":null,"doi":null,"doiUri":null,"zooBankId":null,"zooBankUri":null,"abstract":null},"_links":{"self":{"href":"https://taxref.mnhn.fr/api/interactions/0"}}},{"taxon":{"id":10362,"scientificName":null,"fullNameHtml":"<i>Ablattaria
        laevigata</i> (Fabricius, 1775)","referenceId":10362,"parentId":null,"referenceNameHtml":"<i>Ablattaria
        laevigata</i> (Fabricius, 1775)"},"relationId":"PREDATEUR","relationName":"est
        un prédateur de","specificity":"régulière","inherited":false,"target":{"id":64254,"scientificName":null,"fullNameHtml":"<i>Helix
        aspersa</i> O.F. Müller, 1774","refe[...]
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/interactions/findByType/ASDF?page=1&size=5
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 404
      category: Client error
      reason: Not Found
      message: 'Client error: (404) Not Found'
    headers:
      content-type: text/plain
    body:
      encoding: UTF-8
      string: ''
  recorded_at: 2019-03-25 17:47:36 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/interactions/findByType/0.123456?page=1&size=5
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 404
      category: Client error
      reason: Not Found
      message: 'Client error: (404) Not Found'
    headers:
      content-type: text/plain
    body:
      encoding: UTF-8
      string: ''
  recorded_at: 2019-03-25 17:47:36 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
