http_interactions:
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/interactions/types/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/hal+json; version=1;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"_embedded":{"interactionTypes":[{"id":"PREDATEUR","name":"est un
        prédateur de","description":"interaction trophique dans laquelle un organisme
        vivant (le prédateur) tue sa cible (la proie) afin de la manger ou afin de
        nourrir sa fratrie, sa progéniture et/ou ses congénères.","example":"Brochet
        mangeant un crapaud, plathelminthe mangeant un escargot, \nPlante carnivore
        mangeant des insectes\n","reverseRelationName":"est la proie de","oboRoUri":"http://purl.obolibrary.org/obo/RO_0002439","dbPediaUri":"http://dbpedia.org/resource/Predation","_links":{"self":{"href":"https://taxref.mnhn.fr/api/interactions/types/PREDATEUR"}}},{"id":"NUTRIMENT","name":"acquiert
        des nutriments par (y compris herbivorie)","description":"interaction trophique
        dans laquelle le sujet acquiert des substances nutritives de sa cible sans
        pour autant la consommer intégralement ni même consommer des parties intégrantes
        de celle-ci (contrairement à la prédation).\r\nComprend l''herbivorie, c''est-à-dire
        la condition d''un animal se nourrissant ex[...]
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/interactions/types/PREDATEUR
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/hal+json; version=1;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"PREDATEUR","name":"est un prédateur de","description":"interaction
        trophique dans laquelle un organisme vivant (le prédateur) tue sa cible (la
        proie) afin de la manger ou afin de nourrir sa fratrie, sa progéniture et/ou
        ses congénères.","example":"Brochet mangeant un crapaud, plathelminthe mangeant
        un escargot, \nPlante carnivore mangeant des insectes\n","reverseRelationName":"est
        la proie de","oboRoUri":"http://purl.obolibrary.org/obo/RO_0002439","dbPediaUri":"http://dbpedia.org/resource/Predation","_links":{"self":{"href":"https://taxref.mnhn.fr/api/interactions/types/PREDATEUR"}}}'
  recorded_at: 2019-03-26 13:09:08 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/interactions/types/ASDF
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 404
      category: Client error
      reason: Not Found
      message: 'Client error: (404) Not Found'
    headers:
      content-type: text/plain
    body:
      encoding: UTF-8
      string: ''
  recorded_at: 2019-03-26 13:09:08 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/interactions/types/9
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 404
      category: Client error
      reason: Not Found
      message: 'Client error: (404) Not Found'
    headers:
      content-type: text/plain
    body:
      encoding: UTF-8
      string: ''
  recorded_at: 2019-03-26 13:09:08 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
