http_interactions:
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/langages
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/hal+json; version=1;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"_embedded":{"langages":[{"id":"aqr","name":"Arhâ","iso6393":"aqr","wikidataUri":"http://www.wikidata.org/entity/Q4790085","locationName":"Nouvelle-Calédonie","_links":{"self":{"href":"https://taxref.mnhn.fr/api/langages/aqr"},"location":{"href":"https://taxref.mnhn.fr/api/locations/TER988"}}},{"id":"arw","name":"Arawak
        [= Lokono]","iso6393":"arw","wikidataUri":"http://www.wikidata.org/entity/Q2655664","locationName":"Guyane","_links":{"self":{"href":"https://taxref.mnhn.fr/api/langages/arw"},"location":{"href":"https://taxref.mnhn.fr/api/locations/TER973"}}},{"id":"aut","name":"Australe","iso6393":"aut","wikidataUri":"http://www.wikidata.org/entity/Q2669261","locationName":"Polynésie
        française","_links":{"self":[...]
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/langages/arw
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/hal+json; version=1;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"arw","name":"Arawak [= Lokono]","iso6393":"arw","wikidataUri":"http://www.wikidata.org/entity/Q2655664","locationName":"Guyane","_links":{"self":{"href":"https://taxref.mnhn.fr/api/langages/arw"},"location":{"href":"https://taxref.mnhn.fr/api/locations/TER973"}}}'
  recorded_at: 2019-03-26 13:13:08 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/langages/asdf
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 404
      category: Client error
      reason: Not Found
      message: 'Client error: (404) Not Found'
    headers:
      content-type: text/plain
    body:
      encoding: UTF-8
      string: ''
  recorded_at: 2019-03-26 13:13:08 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/langages/9
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 404
      category: Client error
      reason: Not Found
      message: 'Client error: (404) Not Found'
    headers:
      content-type: text/plain
    body:
      encoding: UTF-8
      string: ''
  recorded_at: 2019-03-26 13:13:08 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
