http_interactions:
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/operationalGroups
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/hal+json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"_embedded":{"operationalGroups":[{"id":143,"name":"Amphibiens","commonName":"Amphibiens","shortDescription":null,"mainGroup":"Amphibiens
        et reptiles","vernacularGroup1":"Chordés","vernacularGroup2":"Amphibiens","vernacularGroup3":null,"description":null,"biology":null,"ecology":null,"biogeography":null,"ethology":null,"economy":null,"_links":{"self":{"href":"https://taxref.mnhn.fr/api/operationalGroups/143"}}},{"id":775,"name":"Anoures","commonName":"Grenouilles
        et crapauds","shortDescription":"Anoures","mainGroup":"Amphibiens et reptiles","vernacularGroup1":"Chordés","vernacularGroup2":"Amphibiens","vernacularGroup3":null,"description":null,"biology":null,"ecology":null,"biogeography":null,"ethology":null,"economy":null,"_links":{"self":{"href":"https://taxref.mnhn.fr/api/operationalGroups/775"}}},{"id":919,"name":"Urodèles","commonName":"[...]
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/operationalGroups/143
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/hal+json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":143,"name":"Amphibiens","commonName":"Amphibiens","shortDescription":null,"mainGroup":"Amphibiens
        et reptiles","vernacularGroup1":"Chordés","vernacularGroup2":"Amphibiens","vernacularGroup3":null,"description":null,"biology":null,"ecology":null,"biogeography":null,"ethology":null,"economy":null,"_links":{"self":{"href":"https://taxref.mnhn.fr/api/operationalGroups/143"}}}'
  recorded_at: 2019-04-10 13:10:17 GMT
  recorded_with: vcr/0.2.6.9100, webmockr/0.3.4
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/operationalGroups/ASDF
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 400
      category: Client error
      reason: Bad Request
      message: 'Client error: (400) Bad Request'
    headers:
      content-language: fr
      content-type: text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: '<html><head><title>Apache Tomcat/7.0.53 - Rapport d''''erreur</title><style><!--H1
        {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:22px;}
        H2 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:16px;}
        H3 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:14px;}
        BODY {font-family:Tahoma,Arial,sans-serif;color:black;background-color:white;}
        B {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;}
        P {font-family:Tahoma,Arial,sans-serif;background:white;color:black;font-size:12px;}A
        {color : black;}A.name {color : black;}HR {color : #525D76;}--></style> </head><body><h1>Etat
        HTTP 400 - </h1><HR size="1" noshade="noshade"><p><b>type</b> Rapport d''''état</p><p><b>message</b>
        <u></u></p><p><b>description</b> <u>La requête envoyée par le client était
        syntaxiquement incorrecte.</u></p><HR size="1" noshade="noshade"><h3>Apache
        Tomcat/7.0.53</h3></body></html>'
  recorded_at: 2019-04-10 13:10:17 GMT
  recorded_with: vcr/0.2.6.9100, webmockr/0.3.4
[...]
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/operationalGroups/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/hal+json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"_embedded":{"operationalGroups":[{"id":143,"name":"Amphibiens","commonName":"Amphibiens","shortDescription":null,"mainG[...]
