http_interactions:
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/sources/160688
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/hal+json; version=1;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":160688,"fullCitation":"Linnaeus, C. 1766. <em>Systema naturæ
        per regna tria naturæ, secundum classes, ordines, genera, species, cum characteribus,
        differentiis, synonymis, locis</em>. <em>Editio duodecima, reformata</em>.
        Holmiæ. (Salvius). Tomus I: 1-532.","url":"http://biodiversitylibrary.org/page/42946197","doi":null,"doiUri":null,"zooBankId":null,"zooBankUri":null,"abstract":null,"_links":{"self":{"href":"https://taxref.mnhn.fr/api/sources/160688"}}}'
  recorded_at: 2019-04-17 12:35:10 GMT
  recorded_with: vcr/0.2.6.9100, webmockr/0.3.4
[...]
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/sources/160688/transform/application/x-bibtex
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-disposition: attachment; filename=Linnaeus_1766.bib
      content-type: text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: "@article{Linnaeus_1766,\n\tdoi = {},\n\turl = {http://biodiversitylibrary.org/page/42946197},\n\tyear
        = 1766,\n\tpublisher = {},\n\tvolume = {},\n\tnumber = {},\n\tpages = {},\n\tauthor
        = {},\n\ttitle = {},\n\tjournal = {},\n\teditor = {},\n\tbooktitle = {},\n\tabstract
        = {}\n}"
  recorded_at: 2019-04-17 12:35:10 GMT
  recorded_with: vcr/0.2.6.9100, webmockr/0.3.4
[...]
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/sources/azerty
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 400
      category: Client error
      reason: Bad Request
      message: 'Client error: (400) Bad Request'
    headers:
      content-language: fr
      content-type: text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: '<html><head><title>Apache Tomcat/7.0.53 - Rapport d''''erreur</title><style><!--H1
        {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:22px;}
        H2 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:16px;}
        H3 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:14px;}
        BODY {font-family:Tahoma,Arial,sans-serif;color:black;background-color:white;}
        B {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;}
        P {font-family:Tahoma,Arial,sans-serif;background:white;color:black;font-size:12px;}A
        {color : black;}A.name {color : black;}HR {color : #525D76;}--></style> </head><body><h1>Etat
        HTTP 400 - </h1><HR size="1" noshade="noshade"><p><b>type</b> Rapport d''''état</p><p><b>message</b>
        <u></u></p><p><b>description</b> <u>La requête envoyée par le client était
        syntaxiquement incorrecte.</u></p><HR size="1" noshade="noshade"><h3>Apache
        Tomcat/7.0.53</h3></body></html>'
  recorded_at: 2019-04-17 12:35:10 GMT
  recorded_with: vcr/0.2.6.9100, webmockr/0.3.4
