http_interactions:
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/sources/findByTerm/springtail
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/hal+json; version=1;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"_embedded":{"bibliography":[{"id":27221,"fullCitation":"Porco, D.,
        Bedos, A. & Deharveng, L. 2010. Description and DNA barcoding assessment of
        the new species <i>Deutonura gibbosa</i> (Collembola: Neanuridae: Neanurinae),
        a common springtail of Alps and Jura. <i>Zootaxa</i>, 2639: 59-68.","url":null,"doi":null,"doiUri":null,"zooBankId":null,"zooBankUri":null,"abstract":null,"_links":{"self":{"href":"https://taxref.mnhn.fr/api/sources/27221"}}},{"id":235939,"fullCitation":"Schneider,
        C., Zon, S. & D''Haese, C. 2018. <em>Megalothorax laevis</em> (Neelipleona,
        Neelidae): Account of a neglected springtail widely distributed in the intertropical
        zone. <em>International Journal Of Tropical Insect Science</em>, 38(3): 168-191.","url":null,"doi":null,"doiUri":null,"zooBankId":null,"zooBankUri":null,"abstract":"The
        springtail Megalothorax laevis Denis, 1948 is redescribed from a broad sampling
        in the intertropical zone: Vietnam (including type locality), Ivory Coast,
        Gabon, Reuni[...]
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/sources/findByTerm/azerty
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/hal+json; version=1;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://taxref.mnhn.fr/api/sources/findByTerm/azerty"}}}'
  recorded_at: 2019-03-26 13:48:53 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
