http_interactions:
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/status/types/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/hal+json; version=1;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"_embedded":{"statusTypes":[{"id":"BARC","name":"Convention de Barcelone","group":"Conventions
        internationales","_links":{"self":{"href":"https://taxref.mnhn.fr/api/status/types/BARC"}}},{"id":"BERN","name":"Convention
        de Berne","group":"Conventions internationales","_links":{"self":{"href":"https://taxref.mnhn.fr/api/status/types/BERN"}}},{"id":"BONN","name":"Convention
        de Bonn","group":"Conventions internationales","_links":{"self":{"href":"https://taxref.mnhn.fr/api/status/types/BONN"}}},{"id":"OSPAR","name":"Convention
        OSPAR","group":"Conventions internationales","_links":{"self":{"href":"https://taxre[...]
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/status/types/BARC
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/hal+json; version=1;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"BARC","name":"Convention de Barcelone","group":"Conventions
        internationales","_links":{"self":{"href":"https://taxref.mnhn.fr/api/status/types/BARC"}}}'
  recorded_at: 2019-03-26 16:43:25 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/status/types/9
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 404
      category: Client error
      reason: Not Found
      message: 'Client error: (404) Not Found'
    headers:
      content-type: text/plain
    body:
      encoding: UTF-8
      string: ''
  recorded_at: 2019-03-26 16:43:25 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/status/types/A
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 404
      category: Client error
      reason: Not Found
      message: 'Client error: (404) Not Found'
    headers:
      content-type: text/plain
    body:
      encoding: UTF-8
      string: ''
  recorded_at: 2019-03-26 16:43:25 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
