http_interactions:
- request:
    method: get
    uri: https://taxref.mnhn.fr/api//status/search/columns?taxrefId=443800&page=1&size=2000
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/hal+json; version=1;charset=UTF-8
    body:
      encoding: UTF-8
      file: ~
      string: '{"_embedded":{"status":[{"taxon":{"id":443800,"scientificName":null,"fullNameHtml":"<i>Bradypus
        tridactylus</i> Linnaeus, 1758","referenceId":443800,"parentId":null,"referenceNameHtml":"<i>Bradypus
        tridactylus</i> Linnaeus, 1758"},"requestedLocationId":null,"worldRedList":"LC","europeanRedList":null,"nationalRedList":"LC","localRedList":null,"bonnConvention":null,"bernConvention":null,"barcelonaConvention":null,"osparConvention":null,"hffDirective":null,"birdDirective":null,"nationalProtection":null,"regionalProtection":null,"departementalProtection":"GUYM2","overseaProtection":null,"nationalActionPlan":null,"completedNationalActionPlan":null,"determinanteZnieff":null,"scapNationale":null,"scapRegionale":null,"sensibilite":null,"biogeoStatus":"S","reglementation":null,"noIntroductionReglementation":null,"invasiveReglementation":null,"prioriteActionPubliqueNationale":null,"_links":{"taxon":{"href":"https://taxref.mnhn.fr/api/taxa/443800"}}}]},"_links":{"self":{"href":"https://taxref.mnhn.fr/api/status/search/columns?taxrefId=443800&page=1&size=2000{&operationalGroupId,locationId,latitude,longitude}","templated":true},"first":{"href":"https://taxref.mnhn.fr/api/status/search/columns?taxrefId=443800&page=1&size=2000{&operationalGroupId,locationId,latitude,longitude}","templated":true},"last":{"href":"https://taxref.mnhn.fr/api/status/search/columns?taxrefId=443800&page=1&size=2000{&operationalGroupId,locationId,latitude,longitude}","templated":true}},"page":{"size":1,"totalElements":1,"totalPages":1,"number":1}}'
  recorded_at: 2022-06-12 11:13:29 GMT
  recorded_with: vcr/1.0.2.93, webmockr/0.8.0
- request:
    method: get
    uri: https://taxref.mnhn.fr/api//status/search/lines?taxrefId=443800&page=1&size=2000
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/hal+json; version=1;charset=UTF-8
    body:
      encoding: UTF-8
      file: ~
      string: '{"_embedded":{"status":[{"taxon":{"id":443800,"scientificName":"Bradypus
        tridactylus","fullNameHtml":"<i>Bradypus tridactylus</i> Linnaeus, 1758","referenceId":443800,"parentId":443585,"referenceNameHtml":"<i>Bradypus
        tridactylus</i> Linnaeus, 1758"},"statusTypeName":"Liste rouge mondiale","statusTypeGroup":"Liste
        rouge","statusCode":"LC","statusName":"Préoccupation mineure","statusRemarks":null,"locationId":"ETATFRA","locationName":"France","locationAdminLevel":"État","sourceId":138262,"source":"IUCN,
        2015. The IUCN Red List of Threatened Species. http://www.iucnredlist.org","requestedLocationId":null,"listedName":null,"_links":{"taxon":{"href":"https://taxref.mnhn.fr/api/taxa/443800"},"statusType":{"href":"https://taxref.mnhn.fr/api/status/types/LRM"},"location":{"href":"https://taxref.mnhn.fr/api/locations/ETATFRA"},"bibliographicResource":{"href":"https://taxref.mnhn.fr/api/sources/138262"}}},{"taxon":{"id":443800,"scientificName":"Bradypus
        tridactylus","fullNameHtml":"<i>Bradypus tridactylus</i> Linnaeus, 1758","referenceId":443800,"parentId":443585,"referenceNameHtml":"<i>Bradypus
        tridactylus</i> Linnaeus, 1758"},"statusTypeName":"Liste rouge nationale","statusTypeGroup":"Liste
        rouge","statusCode":"LC","statusName":"Préoccupation mineure","statusRemarks":null,"locationId":"TER973","locationName":"Guyane","locationAdminLevel":"Territoire","sourceId":160321,"source":"UICN
        France, MNHN, GEPOG, Kwata, Biotope, Hydreco & OSL. 2017. <em>La Liste rouge
        des espèces menacées en France - Chapitre Faune de Guyane française. </em>Paris,
        France. 35 pp.","requestedLocationId":null,"listedName":null,"_links":{"taxon":{"href":"https://taxref.mnhn.fr/api/taxa/443800"},"statusType":{"href":"https://taxref.mnhn.fr/api/status/types/LRN"},"location":{"href":"https://taxref.mnhn.fr/api/locations/TER973"},"bibliographicResource":{"href":"https://taxref.mnhn.fr/api/sources/160321"}}},{"taxon":{"id":443800,"scientificName":"Bradyp[...]
- request:
    method: get
    uri: https://taxref.mnhn.fr/api//status/search/columns?locationId=INSEEC34172&page=1&size=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/hal+json; version=1;charset=UTF-8
    body:
      encoding: UTF-8
      file: ~
      string: '{"_embedded":{"status":[{"taxon":{"id":59,"scientificNa[...]
- request:
    method: get
    uri: https://taxref.mnhn.fr/api//status/search/lines?locationId=INSEEC34172&page=1&size=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/hal+json; version=1;charset=UTF-8
    body:
      encoding: UTF-8
      file: ~
      string: '{"_embedded":{"status":[{"taxon":{"id":162468,"scientificName":"+ Laburnocytisus
        adami","fullNameHtml":"<i>+ Laburnocytisus adami</i> (Poit.) C.K.Schneid.,
        1907","referenceId":162468,"parentId":199015,"referenceNameHtml":"<i>+ Laburnocytisus
        adami</i> (Poit.) C.K.Schneid., 1907"},"statusTypeName":"Statut biogéographique
        territorial (TAXREF)","statusTypeGroup":"Statut biogéographique","statusCode":"M","statusName":"Introduit
        non établi (dont cultivé / domestique)","statusRemarks":null,"locationId":"TERFXFR","locationName":"France
        métropolitaine","locationAdminLevel":"Territoire","sourceId":null,"source":null,"requestedLocationId":"INSEEC34172","listedName":null,"_links":{"taxon":{"href":"https://taxref.mnhn.fr/api/taxa/162468"},"statusType":{"href":"https://taxref.mnhn.fr/api/status/types/TAXREF_STATUT_BIOGEO"},"statusValue":{"href":"https://taxref.mnhn.fr/api/biogeographicStatus/M"},"location":{"href":"https://taxref.mnhn.fr/api/locations/TERFXFR"}}}]},"_links":{"self":{"href":"https://taxref.mnhn.fr/api/status/search/lines?locationId=INSEEC34172&page=1&size=1{&taxrefId,statusTypeId,operationalGroupId,latitude,longitude}","templated":true},"first":{"href":"https://taxref.mnhn.fr/api/status/search/lines?locationId=INSEEC34172&page=1&size=1{&taxrefId,statusTypeId,operationalGroupId,latitude,longitude}","templated":true},"next":{"href":"https://taxref.mnhn.fr/api/status/search/lines?locationId=INSEEC34172&page=2&size=1{&taxrefId,statusTypeId,operationalGroupId,latitude,longitude}","templated":true},"last":{"href":"https://taxref.mnhn.fr/api/status/search/lines?locationId=INSEEC34172&page=175884&size=1{&taxrefId,statusTypeId,operationalGroupId,latitude,longitude}","templated":true}},"page":{"size":1,"totalElements":175884,"totalPages":175884,"number":1}}'
  recorded_at: 2022-06-12 11:13:29 GMT
  recorded_with: vcr/1.0.2.93, webmockr/0.8.0
- request:
    method: get
    uri: https://taxref.mnhn.fr/api//status/search/columns?operationalGroupId=706&page=1&size=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/hal+json; version=1;charset=UTF-8
    body:
      encoding: UTF-8
      file: ~
      string: '{"_embedded":{"status":[{"taxon":{"id":4703,"scientific[...]
- request:
    method: get
    uri: https://taxref.mnhn.fr/api//status/search/lines?operationalGroupId=706&page=1&size=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/hal+json; version=1;charset=UTF-8
    body:
      encoding: UTF-8
      file: ~
      string: '{"_embedded":{"status":[{"taxon":{"id":660455,"scientific[...]
- request:
    method: get
    uri: https://taxref.mnhn.fr/api//status/search/columns?latitude=-45.5496&longitude=-0.7814&page=1&size=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/hal+json; version=1;charset=UTF-8
    body:
      encoding: UTF-8
      file: ~
      string: '{"_embedded":{"status":[{"taxon":{"id":56,[...]
- request:
    method: get
    uri: https://taxref.mnhn.fr/api//status/search/lines?latitude=-45.5496&longitude=-0.7814&page=1&size=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/hal+json; version=1;charset=UTF-8
    body:
      encoding: UTF-8
      file: ~
      string: '{"_embedded":{"status":[{"taxon":{"id":16246[...]
[...]
- request:
    method: get
    uri: https://taxref.mnhn.fr/api//status/search/columns?taxrefId=azerty&page=1&size=2000
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 400
      category: Client error
      reason: Bad Request
      message: 'Client error: (400) Bad Request'
    headers:
      content-language: fr
      content-type: text/html;charset=utf-8
    body:
      encoding: UTF-8
      file: ~
      string: '<html><head><title>Apache Tomcat/7.0.53 - Rapport d''''erreur</title><style><!--H1
        {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:22px;}
        H2 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:16px;}
        H3 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:14px;}
        BODY {font-family:Tahoma,Arial,sans-serif;color:black;background-color:white;}
        B {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;}
        P {font-family:Tahoma,Arial,sans-serif;background:white;color:black;font-size:12px;}A
        {color : black;}A.name {color : black;}HR {color : #525D76;}--></style> </head><body><h1>Etat
        HTTP 400 - </h1><HR size="1" noshade="noshade"><p><b>type</b> Rapport d''''état</p><p><b>message</b>
        <u></u></p><p><b>description</b> <u>La requête envoyée par le client était
        syntaxiquement incorrecte.</u></p><HR size="1" noshade="noshade"><h3>Apache
        Tomcat/7.0.53</h3></body></html>'
  recorded_at: 2022-06-12 11:13:29 GMT
  recorded_with: vcr/1.0.2.93, webmockr/0.8.0
- request:
    method: get
    uri: https://taxref.mnhn.fr/api//status/search/columns?locationId=123&page=1&size=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 404
      category: Client error
      reason: Not Found
      message: 'Client error: (404) Not Found'
    headers:
      content-type: text/plain
    body:
      encoding: UTF-8
      file: ~
      string: ''
  recorded_at: 2022-06-12 11:13:29 GMT
  recorded_with: vcr/1.0.2.93, webmockr/0.8.0
- request:
    method: get
    uri: https://taxref.mnhn.fr/api//status/search/columns?locationId=INSEE&page=1&size=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 404
      category: Client error
      reason: Not Found
      message: 'Client error: (404) Not Found'
    headers:
      content-type: text/plain
    body:
      encoding: UTF-8
      file: ~
      string: ''
  recorded_at: 2022-06-12 11:13:29 GMT
  recorded_with: vcr/1.0.2.93, webmockr/0.8.0
[...]
- request:
    method: get
    uri: https://taxref.mnhn.fr/api//status/search/columns?operationalGroupId=INSEE&page=1&size=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 400
      category: Client error
      reason: Bad Request
      message: 'Client error: (400) Bad Request'
    headers:
      content-language: fr
      content-type: text/html;charset=utf-8
    body:
      encoding: UTF-8
      file: ~
      string: '<html><head><title>A[...]
- request:
    method: get
    uri: https://taxref.mnhn.fr/api//status/search/columns?longitude=azerty&page=1&size=2000
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 400
      category: Client error
      reason: Bad Request
      message: 'Client error: (400) Bad Request'
    headers:
      content-language: fr
      content-type: text/html;charset=utf-8
    body:
      encoding: UTF-8
      file: ~
      string: '<html><head><title>Apache[...]
- request:
    method: get
    uri: https://taxref.mnhn.fr/api//status/search/columns?latitude=azerty&page=1&size=2000
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 400
      category: Client error
      reason: Bad Request
      message: 'Client error: (400) Bad Request'
    headers:
      content-language: fr
      content-type: text/html;charset=utf-8
    body:
      encoding: UTF-8
      file: ~
      string: '<html><head><title>Apache [...]
- request:
    method: get
    uri: https://taxref.mnhn.fr/api//status/search/columns?latitude=azerty&longitude=azerty&page=1&size=2000
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 400
      category: Client error
      reason: Bad Request
      message: 'Client error: (400) Bad Request'
    headers:
      content-language: fr
      content-type: text/html;charset=utf-8
    body:
      encoding: UTF-8
      file: ~
      string: '<html><he[...]
- request:
    method: get
    uri: https://taxref.mnhn.fr/api//status/search/columns?taxrefId=443800&taxrefId=59&page=1&size=2000
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/hal+json; version=1;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"_embedded":{"status":[{"taxon":{"id":59,"sci[...]
