http_interactions:
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/sourceUses
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/hal+json; version=1;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"_embedded":{"sourceUses":[{"id":276,"name":"Abaissement de rang","_links":{"self":{"href":"https://taxref.mnhn.fr/api/sourceUses/276"}}},{"id":56,"name":"Analyses
        moléculaires","_links":{"self":{"href":"https://taxref.mnhn.fr/api/sourceUses/56"}}},{"id":116,"name":"Biologie","_links":{"self":{"href":"https://taxref.mnhn.fr/api/sourceUses/116"}}},{"id":296,"name":"Classification
        (Systématique)","_links":{"self":{"href":"https://taxref.mnhn.fr/api/sourceUses/296"}}},{"id":236,"name":"Clé
        d''identification des espèces","_links":{"self":{"href":"https://taxref.mnh[...]
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/sourceUses/276
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/hal+json; version=1;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":276,"name":"Abaissement de rang","_links":{"self":{"href":"https://taxref.mnhn.fr/api/sourceUses/276"}}}'
  recorded_at: 2019-03-26 13:48:27 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
[...]
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/sourceUses/ASDF
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 400
      category: Client error
      reason: Bad Request
      message: 'Client error: (400) Bad Request'
    headers:
      content-language: fr
      content-type: text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: '<html><head><title>Apache Tomcat/7.0.53 - Rapport d''''erreur</title><style><!--H1
        {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:22px;}
        H2 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:16px;}
        H3 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:14px;}
        BODY {font-family:Tahoma,Arial,sans-serif;color:black;background-color:white;}
        B {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;}
        P {font-family:Tahoma,Arial,sans-serif;background:white;color:black;font-size:12px;}A
        {color : black;}A.name {color : black;}HR {color : #525D76;}--></style> </head><body><h1>Etat
        HTTP 400 - </h1><HR size="1" noshade="noshade"><p><b>type</b> Rapport d''''état</p><p><b>message</b>
        <u></u></p><p><b>description</b> <u>La requête envoyée par le client était
        syntaxiquement incorrecte.</u></p><HR size="1" noshade="noshade"><h3>Apache
        Tomcat/7.0.53</h3></body></html>'
  recorded_at: 2019-03-26 13:48:27 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
