http_interactions:
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/taxa/107003/vernacularNames
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/hal+json; version=1;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"_embedded":{"vernacularNames":[{"name":"Lycopode en massue, Éguaire","taxon":{"id":107003,"scientificName":"Lycopodium
        clavatum","fullNameHtml":"<i>Lycopodium clavatum</i> L., 1753","referenceId":107003,"parentId":194337,"referenceNameHtml":"<i>Lycopodium
        clavatum</i> L., 1753"},"langageId":"fra","langageName":"Français","locationId":"ETATFRA","locationName":"France","sourceId":null,"source":"BDTFX
        v1.01/BDTRE v0.01","_links":{"self":{"href":"https://taxref.mnhn.fr/api/taxa/vernacularNames/10136"},"taxon":{"href":"https://taxref.mnhn.fr/api/taxa/107003"},"langage":{"href":"https://taxref.mnhn.fr/api/langages/fra"},"location":{"href":"https://taxref.mnhn.fr/api/locations/ETATFRA"}}},{"name":"Lycopode
        en massue","taxon":{"id":107003,"scientificName":"Lycopodium clavatum","fullNameHtml":"<i>Lycopodium
        clavatum</i> L., 1753","referenceId":107003,"parentId":194337,"referenceNameHtml":"<i>Lycopodium
        clavatum</i> L., 1753"},"langageId":"fra","langageName":"Français","locationId":"TER974","locationName":"Réunion","sourceId":null,"source":"ITR","_links":{"self":{"href":"https://taxref.mnhn.fr/api/taxa/vernacularNames/66503"},"taxon":{"href":"https://taxref.mnhn.fr/api/taxa/107003"},"langage":{"href":"https://taxref.mnhn.fr/api/langages/fra"},"location":{"href":"https://taxref.mnhn.fr/api/locations/TER974"}}},{"name":"Stag''s-horn
        Clubmoss","taxon":{"id":107003,"scientificName":"Lycopodium clavatum","fullNameHtml":"<i>Lycopodium
        clavatum</i> L., 1753","referenceId":107003,"parentId":194337,"referenceNameHtml":"<i>Lycopodium
        clavatum</i> L., 1753"},"langageId":"eng","langageName":"Anglais","locationId":null,"locationName":null,"sourceId":null,"source":"NHM","_links":{"self":{"href":"https://taxref.mnhn.fr/api/taxa/vernacularNames/10135"},"taxon":{"href":"https://taxref.mnhn.fr/api/taxa/107003"},"langage":{"href":"https://taxref.mnhn.fr/api/langages/eng"}}}]},"_links":{"self":{"href":"https://taxref.mnhn.fr/api/taxa/107003/vernacularNames"}}}'
  recorded_at: 2019-03-27 13:26:34 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
[...]
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/taxa/A/vernacularNames
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 400
      category: Client error
      reason: Bad Request
      message: 'Client error: (400) Bad Request'
    headers:
      content-language: en
      content-type: text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: '<html><head><title>Apache Tomcat/7.0.53 - Error report</title><style><!--H1
        {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:22px;}
        H2 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:16px;}
        H3 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:14px;}
        BODY {font-family:Tahoma,Arial,sans-serif;color:black;background-color:white;}
        B {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;}
        P {font-family:Tahoma,Arial,sans-serif;background:white;color:black;font-size:12px;}A
        {color : black;}A.name {color : black;}HR {color : #525D76;}--></style> </head><body><h1>HTTP
        Status 400 - </h1><HR size="1" noshade="noshade"><p><b>type</b> Status report</p><p><b>message</b>
        <u></u></p><p><b>description</b> <u>The request sent by the client was syntactically
        incorrect.</u></p><HR size="1" noshade="noshade"><h3>Apache Tomcat/7.0.53</h3></body></html>'
  recorded_at: 2019-03-27 13:26:34 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
