http_interactions:
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/taxa/search?scientificNames=Bradypus%20tridactylus&page=1&size=50000
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/hal+json; version=1;charset=UTF-8
    body:
      encoding: UTF-8
      file: ~
      string: '{"_embedded":{"taxa":[{"id":443800,"referenceId":443800,"parentId":443585,"scientificName":"Bradypus
        tridactylus","authority":"Linnaeus, 1758","fullName":"Bradypus tridactylus
        Linnaeus, 1758","fullNameHtml":"<i>Bradypus tridactylus</i> Linnaeus, 1758","rankId":"ES","rankName":"Espèce","referenceName":"Bradypus
        tridactylus Linnaeus, 1758","referenceNameHtml":"<i>Bradypus tridactylus</i>
        Linnaeus, 1758","frenchVernacularName":"Aï, Paresseux à trois doigts, Mouton
        paresseux, Dos boulé","englishVernacularName":null,"genusName":"Bradypus","familyName":"Bradypodidae","orderName":"Pilosa","className":"Mammalia","phylumName":"Chordata","kingdomName":"Animalia","vernacularGenusName":null,"vernacularFamilyName":"Paresseux
        tridactyles, Aïs","vernacularOrderName":null,"vernacularClassName":"Mammifères","vernacularPhylumName":"Chordés","vernacularKingdomName":"Animaux","vernacularGroup1":"Chordés","vernacularGroup2":"Mammifères","habitat":"3","fr":null,"gf":"S","mar":null,"gua":null,"sm":null,"sb":null,"spm":null,"may":null,"epa":null,"reu":null,"sa":null,"ta":null,"nc":null,"wf":null,"pf":null,"cli":null,"taxrefVersion":"12.0","_links":{"self":{"href":"https://taxref.mnhn.fr/api/taxa/443800"},"reference":{"href":"https://taxref.mnhn.fr/api/taxa/443800"},"parent":{"href":"https://taxref.mnhn.fr/api/taxa/443585"},"synonyms":{"href":"https://taxref.mnhn.fr/api/taxa/443800/synonyms"},"classification":{"href":"https://taxref.mnhn.fr/api/taxa/443800/classification"},"children":{"href":"https://taxref.mnhn.fr/api/taxa/443800/children"},"vernacularNames":{"href":"https://taxref.mnhn.fr/api/taxa/443800/vernacularNames"},"media":{"href":"https://taxref.mnhn.fr/api/taxa/443800/media"},"status":{"href":"https://taxref.mnhn.fr/api/taxa/443800/status/lines"},"interactions":{"href":"https://taxref.mnhn.fr/api/taxa/443800/interactions"},"taxrefHistory":{"href":"https://taxref.mnhn.fr/api/taxa/443800/taxrefHistory"},"externalIds":{"href":"https://taxref.mnhn.fr/api/taxa/443800/externalIds"},"taxonomicRank":{"href":"https://taxref.mnhn.fr/api/taxonomicRanks/ES"},"habitat":{"href":"https://taxref.mnhn.fr/api/habitats/3"},"taxrefUri":{"href":"http://taxref.mnhn.fr/lod/taxon/443800"},"inpnWebpage":{"href":"https://inpn.mnhn.fr/espece/cd_nom/443800"}}}]},"_links":{"self":{"href":"https://taxref.mnhn.fr/api/taxa/search?version=12.0&scientificNames=Bradypus%20tridactylus&page=1&size=50000{&taxrefIds,frenchVernacularNames,englishVernacularNames,taxonomicRanks,territories,domain,habitats,vernacularGroups}","templated":true},"first":{"href":"https://taxref.mnhn.fr/api/taxa/search?version=12.0&scientificNames=Bradypus%20tridactylus&page=1&size=50000{&taxrefIds,frenchVernacularNames,englishVernacularNames,taxonomicRanks,territories,domain,habitats,vernacularGroups}","templated":true},"last":{"href":"https://taxref.mnhn.fr/api/taxa/search?version=12.0&scientificNames=Bradypus%20tridactylus&page=1&size=50000{&taxrefIds,frenchVernacularNames,englishVernacularNames,taxonomicRanks,territories,domain,habitats,vernacularGroups}","templated":true}},"page":{"size":1,"totalElements":1,"totalPages":1,"number":1}}'
  recorded_at: 2022-06-03 21:04:52 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/taxa/search?scientificNames=Bradypus%20tridactylus&scientificNames=Bradypus%20didactylus&page=1&size=50000
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/hal+json; version=1;charset=UTF-8
    body:
      encoding: UTF-8
      file: ~
      string: '{"_embed[...]
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/taxa/search?frenchVernacularNames=Paresseux%20%C3%A0%20trois%20doigts&page=1&size=50000
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/hal+json; version=1;charset=UTF-8
    body:
      encoding: UTF-8
      file: ~
      string: '{"_embedded":{"taxa":[{"id"[...]
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/taxa/search?englishVernacularNames=magpie&page=1&size=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/hal+json; version=1;charset=UTF-8
    body:
      encoding: UTF-8
      file: ~
      string: '{"_embedded":{"taxa":[{"id":791639,"referenceId":791639,"pa[...]
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/taxa/search?frenchVernacularNames=corneille&frenchVernacularNames=moineau&page=1&size=7
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/hal+json; version=1;charset=UTF-8
    body:
      encoding: UTF-8
      file: ~
      string: '{"_embedded":{"taxa":[{"id"[...]
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/taxa/search?scientificNames=Bradypus&taxonomicRanks=GN&page=1&size=50000
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/hal+json; version=1;charset=UTF-8
    body:
      encoding: UTF-8
      file: ~
      string: '{"_embedded":{"taxa":[{"id":443585,"refere[...]
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/taxa/search?scientificNames=Parus%20major&taxonomicRanks=SSES&page=1&size=50000
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/hal+json; version=1;charset=UTF-8
    body:
      encoding: UTF-8
      file: ~
      string: '{"_embedded":{"taxa":[{"id":3767,"r[...]
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/taxa/search?scientificNames=subtilis&taxonomicRanks=FO&taxonomicRanks=SSES&page=1&size=4
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/hal+json; version=1;charset=UTF-8
    body:
      encoding: UTF-8
      file: ~
      string: '{"_embedded":{"taxa":[{"id[...]
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/taxa/search?scientificNames=Bradypus&territories=fr&page=1&size=50000
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/hal+json; version=1;charset=UTF-8
    body:
      encoding: UTF-8
      file: ~
      string: '{"_embedded":{"taxa":[{"id":892228,"reference[...]
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/taxa/search?scientificNames=Bradypus&territories=gf&page=1&size=50000
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/hal+json; version=1;charset=UTF-8
    body:
      encoding: UTF-8
      file: ~
      string: '{"_embedded":{"taxa":[{"id":443585,"reference[...]
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/taxa/search?scientificNames=Bradypus&territories=reu&territories=pf&page=1&size=50000
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/hal+json; version=1;charset=UTF-8
    body:
      encoding: UTF-8
      file: ~
      string: '{"_embedded":{"taxa":[{"id":5[...]
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/taxa/search?scientificNames=albus&domain=marin&page=1&size=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/hal+json; version=1;charset=UTF-8
    body:
      encoding: UTF-8
      file: ~
      string: '{"_embedded":{"taxa":[{"id":558240,"referenceId":42375[...]
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/taxa/search?scientificNames=albus&domain=continental&page=1&size=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/hal+json; version=1;charset=UTF-8
    body:
      encoding: UTF-8
      file: ~
      string: '{"_embedded":{"taxa":[{"id":233098,"referenceId"[...]
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/taxa/search?scientificNames=albus&habitats=1&page=1&size=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/hal+json; version=1;charset=UTF-8
    body:
      encoding: UTF-8
      file: ~
      string: '{"_embedded":{"taxa":[{"id":558240,"referenceId":423757,[...]
[...]
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/taxa/search?scientificNames=saxatilis&habitats=2&habitats=4&page=1&size=4
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/hal+json; version=1;charset=UTF-8
    body:
      encoding: UTF-8
      file: ~
      string: '{"_embedded":{"taxa":[{"id":777695,"refer[...]
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/taxa/search?vernacularGroups=Tardigrades&page=1&size=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/hal+json; version=1;charset=UTF-8
    body:
      encoding: UTF-8
      file: ~
      string: '{"_embedded":{"taxa":[{"id":368462,"referenceId":368462,"par[...]
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/taxa/search?scientificNames=saxatilis&vernacularGroups=Arthropodes&vernacularGroups=Entognathes&page=1&size=50000
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/hal+json; version=1;charset=UTF-8
    body:
      encoding: UTF-8
      file: ~
      string: '{[...]
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/taxa/search?scientificNames=Bradypus%20tridactylus&page=1&size=5000
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/hal+json; version=1;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"_embedded":{"taxa":[{"id":443800,"referenceId":443800,"parentId":443585,"scientificName":"Bradypus
        tridactylus","authority":"Linnaeus, 1758","fullName":"Bradypus tridactylus
        Linnaeus, 1758","fullNameHtml":"<i>Bradypus tridactylus</i> Linnaeus, 1758","rankId":"ES","rankName":"Espèce","referenceName":"Bradypus
        tridactylus Linnaeus, 1758","referenceNameHtml":"<i>Bradypus tridactylus</i>
        Linnaeus, 1758","frenchVernacularName":"Aï, Paresseux à trois doigts, Mouton
        paresseux, Dos boulé","englishVernacularName":null,"genusName":"Bradypus","familyName":"Bradypodidae","orderName":"Pilosa","className":"Mammalia","phylumName":"Chordata","kingdomName":"Animalia","vernacularGenusName":null,"vernacularFamilyName":"Paresseux
        tridactyles, Aïs","vernacularOrderName":null,"vernacularClassName":"Mammifères","vernacularPhylumName":"Chordés","vernacularKingdomName":"Animaux","vernacularGroup1":"Chordés","vernacularGroup2":"Mammifères","vernacularGroup3":"Autres","habitat":"3","fr":"A","gf":"S","mar":"A","gua":"A","sm":"A","sb":"A","spm":"A","may":"A","epa":"A","reu":"A","sa":"A","ta":"A","nc":"A","wf":"A","pf":"A","cli":"A","taxrefVersion":"15.0","_links":{"self":{"href":"https://taxref.mnhn.fr/api/taxa/443800"},"reference":{"href":"https://taxref.mnhn.fr/api/taxa/443800"},"parent":{"href":"https://taxref.mnhn.fr/api/taxa/443585"},"synonyms":{"href":"https://taxref.mnhn.fr/api/taxa/443800/synonyms"},"classification":{"href":"https://taxref.mnhn[...]
[...]
