http_interactions:
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/taxa/443498/children
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/hal+json; version=1;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"_embedded":{"taxa":[{"id":443585,"referenceId":443585,"parentId":443498,"scientificName":"Bradypus","authority":"Linnaeus,
        1758","fullName":"Bradypus Linnaeus, 1758","fullNameHtml":"<i>Bradypus</i>
        Linnaeus, 1758","rankId":"GN","rankName":null,"referenceName":"Bradypus Linnaeus,
        1758","referenceNameHtml":"<i>Bradypus</i> Linnaeus, 1758","frenchVernacularName":null,"englishVernacularName":null,"genusName":"Bradypus","familyName":"Bradypodidae","orderName":"Pilosa","className":"Mammalia","phylumName":"Chordata","kingdomName":"Animalia","vernacularGenusName":null,"vernacularFamilyName":"Paresseux
        tridactyles, Aïs","vernacularOrderName":null,"vernacularClassName":"Mammifères","vernacularPhylumName":"Chordés","vernacularKingdomName":"Animaux","vernacularGroup1":null,"vernacularGroup2":null,"habitat":null,"fr":null,"gf":"P","mar":null,"gua":null,"sm":null,"sb":null,"spm":null,"may":null,"epa":null,"reu":null,"sa":null,"ta":null,"nc":null,"wf":null,"pf":null,"cli":null,"taxrefVersion":"12.0","_links":{"self":{"href":"https://taxref.mnhn.fr/api/taxa/443585"},"reference":{"href":"https://taxref.mnhn.fr/api/taxa/443585"},"parent":{"href":"https://taxref.mnhn.fr/api/taxa/443498"},"classification":{"href":"https://taxref.mnhn.fr/api/taxa/443585/classification"},"synonyms":{"href":"https://taxref.mnhn.fr/api/taxa/443585/synonyms"},"children":{"href":"https://taxref.mnhn.fr/api/taxa/443585/children"},"vernacularNames":{"href":"https://taxref.mnhn.fr/api/taxa/443585/vernacularNames"},"media":{"href":"https://taxref.mnhn.fr/api/taxa/443585/media"},"status":{"href":"https://taxref.mnhn.fr/api/taxa/443585/status/lines"},"interactions":{"href":"https://taxref.mnhn.fr/api/taxa/443585/interactions"},"taxrefHistory":{"href":"https://taxref.mnhn.fr/api/taxa/443585/taxrefHistory"},"externalIds":{"href":"https://taxref.mnhn.fr/api/taxa/443585/externalIds"},"taxonomicRank":{"href":"https://taxref.mnhn.fr/api/taxonomicRanks/GN"},"taxrefUri":{"href":"http://taxref.mnhn.fr/lod/taxon/443585"},"inpnWebpage":{"href":"https://inpn.mnhn.fr/espece/cd_nom/443585"}}},{"id":443800,"referenceId":443800,"parentId":443585,"scientificName":"Bradypus
        tridactylus","authority":"Linnaeus, 1758","fullName":"Bradypus tridactylus
        Linnaeus, 1758","fullNameHtml":"<i>Bradypus tridactylus</i> Linnaeus, 1758","rankId":"ES","rankName":null,"referenceName":"Bradypus
        tridactylus Linnaeus, 1758","referenceNameHtml":"<i>Bradypus tridactylus</i>
        Linnaeus, 1758","frenchVernacularName":"Aï, Paress[...]
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/taxa/123/children
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/hal+json; version=1;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://taxref.mnhn.fr/api/taxa/123/children"}}}'
  recorded_at: 2019-03-26 17:08:28 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/taxa/A/children
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 400
      category: Client error
      reason: Bad Request
      message: 'Client error: (400) Bad Request'
    headers:
      content-language: fr
      content-type: text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: '<html><head><title>Apache Tomcat/7.0.53 - Rapport d''''erreur</title><style><!--H1
        {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:22px;}
        H2 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:16px;}
        H3 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:14px;}
        BODY {font-family:Tahoma,Arial,sans-serif;color:black;background-color:white;}
        B {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;}
        P {font-family:Tahoma,Arial,sans-serif;background:white;color:black;font-size:12px;}A
        {color : black;}A.name {color : black;}HR {color : #525D76;}--></style> </head><body><h1>Etat
        HTTP 400 - </h1><HR size="1" noshade="noshade"><p><b>type</b> Rapport d''''état</p><p><b>message</b>
        <u></u></p><p><b>description</b> <u>La requête envoyée par le client était
        syntaxiquement incorrecte.</u></p><HR size="1" noshade="noshade"><h3>Apache
        Tomcat/7.0.53</h3></body></html>'
  recorded_at: 2019-03-26 17:08:28 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
