http_interactions:
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/taxa/search?scientificNames=Bradypus%20tridactylus&page=1&size=50000
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/hal+json; version=1;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"_embedded":{"taxa":[{"id":443800,"referenceId":443800,"parentId":443585,"scientificName":"Bradypus
        tridactylus","authority":"Linnaeus, 1758","fullName":"Bradypus tridactylus
        Linnaeus, 1758","fullNameHtml":"<i>Bradypus tridactylus</i> Linnaeus, 1758","rankId":"ES","rankName":"Espèce","referenceName":"Bradypus
        tridactylus Linnaeus, 1758","referenceNameHtml":"<i>Bradypus tridactylus</i>
        Linnaeus, 1758","frenchVernacularName":"Aï, Paresseux à trois doigts, Mouton
        paresseux, Dos boulé","englishVernacularName":null,"genusName":"Bradypus","familyName":"Bradypodidae","orderName":"Pilosa","className":"Mammalia","phylumName":"Chordata","kingdomName":"Animalia","vernacularGenusName":null,"vernacularFamilyName":"Paresseux
        tridactyles, Aïs","vernacularOrderName":null,"vernacularClassName":"Mammifères","vernacularPhylumName":"Chordés","vernacularKingdomName":"Animaux","vernacularGroup1":"Chordés","vernacularGroup2":"Mammifères","habitat":"3","fr":null,"gf":"S","mar":null,"gua":null,"sm":null,"sb":null,"spm":null,"may":null,"epa":null,"reu":null,"sa":null,"ta":null,"nc":null,"wf":null,"pf":null,"cli":null,"taxrefVersion":"12.0","_links":{"self":{"href":"https://taxref.mnhn.fr/api/taxa/443800"},"reference":{"href":"https://taxref.mnhn.fr/api/taxa/443800"},"parent":{"href":"https://taxref.mnhn.fr/api/taxa/443585"},"classification":{"href":"https://taxref.mnhn.fr/api/taxa/443800/classification"},"synonyms":{"href":"https://taxref.mnhn.fr/api/taxa/443800/synonyms"},"children":{"href":"https://taxref.mnhn.fr/api/taxa/443800/children"},"vernacularNames":{"href":"https://taxref.mnhn.fr/api/taxa/443800/vernacularNames"},"media":{"href":"https://taxref.mnhn.fr/api/taxa/443800/media"},"status":{"href":"https://taxref.mnhn.fr/api/taxa/443800/status/lines"},"interactions":{"href":"https://taxref.mnhn.fr/api/taxa/443800/interactions"},"taxrefHistory":{"href":"https://taxref.mnhn.fr/api/taxa/443800/taxrefHistory"},"externalIds":{"href":"https://taxref.mnhn.fr/api/taxa/443800/externalIds"},"taxonomicRank":{"href":"https://taxref.mnhn.fr/api/taxonomicRanks/ES"},"habitat":{"href":"https://taxref.mnhn.fr/api/habitats/3"},"taxrefUri":{"href":"http://taxref.mnhn.fr/lod/taxon/443800"},"inpnWebpage":{"href":"https://inpn.mnhn.fr/espece/cd_nom/443800"}}}]},"_links":{"self":{"href":"https://taxref.mnhn.fr/api/taxa/search?version=12.0&scientificNames=Bradypus%20tridactylus&page=1&size=50000{&taxrefIds,frenchVernacularNames,englishVernacularNames,taxonomicRanks,territories,domain,habitats,vernacularGroups}","templated":true},"first":{"href":"https://taxref.mnhn.fr/api/taxa/search?version=12.0&scientificNames=Bradypus%20tridactylus&page=1&size=50000{&taxrefIds,frenchVernacularNames,englishVernacularNames,taxonomicRanks,territories,domain,habitats,vernacularGroups}","templated":true},"last":{"href":"https://taxref.mnhn.fr/api/taxa/search?version=12.0&scientificNames=Bradypus%20tridactylus&page=1&size=50000{&taxrefIds,frenchVernacularNames,englishVernacularNames,taxonomicRanks,territories,domain,habitats,vernacularGroups}","templated":true}},"page":{"size":1,"totalElements":1,"totalPages":1,"number":1}}'
  recorded_at: 2019-04-17 15:39:34 GMT
  recorded_with: vcr/0.2.6.9100, webmockr/0.3.4
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/taxa/search?frenchVernacularNames=Paresseux%20%C3%A0%20trois%20doigts&page=1&size=50000
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/hal+json; version=1;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"_embedded":{"taxa":[{"id":443800,"refer[...]
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/taxa/search?scientificNames=Bradypus&taxonomicRanks=GN&page=1&size=50000
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/hal+json; version=1;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"_embedded":{"taxa":[{"id":443585,"referenceId":443585,[...]
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/taxa/search?scientificNames=Parus%20major&taxonomicRanks=SSES&page=1&size=50000
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/hal+json; version=1;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"_embedded":{"taxa":[{"id":3767,"referenceId":37[...]
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/taxa/search?scientificNames=Bradypus&territories=fr&page=1&size=50000
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/hal+json; version=1;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"_embedded":{"taxa":[{"id":892228,"referenceId":892228,"pa[...]
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/taxa/search?scientificNames=Bradypus&territories=gf&page=1&size=50000
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/hal+json; version=1;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"_embedded":{"taxa":[{"id":443585,"referenceId":443585,"pa[...]
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/taxa/search?scientificNames=albus&domain=marin&page=1&size=5
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/hal+json; version=1;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"_embedded":{"taxa":[{"id":576043,"referenceId":460532,"parentId":n[...]
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/taxa/search?scientificNames=albus&domain=continental&page=1&size=5
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/hal+json; version=1;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"_embedded":{"taxa":[{"id":418745,"referenceId":418745,"paren[...]
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/taxa/search?scientificNames=albus&habitats=1&page=1&size=2
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/hal+json; version=1;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"_embedded":{"taxa":[{"id":576043,"referenceId":460532,"parentId":nul[...]
[...]
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/taxa/search?vernacularGroups=Tardigrades&page=1&size=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/hal+json; version=1;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"_embedded":{"taxa":[{"id":368462,"referenceId":368462,"parentId":353643,[...]
