http_interactions:
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/taxa/107003/sources
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/hal+json; version=1;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"_embedded":{"taxonSources":[{"taxon":{"id":770669,"scientificName":"Lycopodium
        aristatum","fullNameHtml":"<i>Lycopodium aristatum</i> Willd.","referenceId":107003,"parentId":null,"referenceNameHtml":"<i>Lycopodium
        clavatum</i> L., 1753"},"sourceId":63801,"source":"Funk, V., Hollowell, T.,
        Berry, P., Kelloff, C. & Alexander, S. N. 2007.   Checklist of the Plants
        of the Guiana Shield (Venezuela: Amazonas, Bolivar, Delta Amacuro; Guyana,
        Surinam, French Guiana). <i>Contributions from the United States National
        Herbarium,</i> 55: 1-580.","page":null,"pageUrl":null,"sourceUse":"Source
        de la synonymie","_links":{"self":{"href":"https://taxref.mnhn.fr/api/taxa/taxonSources/254649"},"taxon":{"href":"https://taxref.mnhn.fr/api/taxa/770669"},"bibliographicResource":{"href":"https://taxref.mnhn.fr/api/sources/63801"},"sourceUse":{"href":"https://taxref.mnhn.fr/api/sourceUses/4"}}},{"taxon":{"id":107003,"scientificName":"Lycopodium
        clavatum","fullNameHtml":"<i>Lycopodium clavatum</i> L., 1753","referenceId":107003,"parentId":194337,"referenceNameHtml":"<i>Lycopodium
        clavatum</i> L., 1753"},"sourceId":63801,"source":"Funk, V., Hollowell, T.,
        Berry, P., Kelloff, C. & Alexander, S. N. 2007.   Checklist of the Plants
        of the Guiana[...]
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/taxa/123456/sources
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/hal+json; version=1;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://taxref.mnhn.fr/api/taxa/123456/sources"}}}'
  recorded_at: 2019-03-27 12:53:34 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/taxa/A/sources
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 400
      category: Client error
      reason: Bad Request
      message: 'Client error: (400) Bad Request'
    headers:
      content-language: fr
      content-type: text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: '<html><head><title>Apache Tomcat/7.0.53 - Rapport d''''erreur</title><style><!--H1
        {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:22px;}
        H2 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:16px;}
        H3 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:14px;}
        BODY {font-family:Tahoma,Arial,sans-serif;color:black;background-color:white;}
        B {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;}
        P {font-family:Tahoma,Arial,sans-serif;background:white;color:black;font-size:12px;}A
        {color : black;}A.name {color : black;}HR {color : #525D76;}--></style> </head><body><h1>Etat
        HTTP 400 - </h1><HR size="1" noshade="noshade"><p><b>type</b> Rapport d''''état</p><p><b>message</b>
        <u></u></p><p><b>description</b> <u>La requête envoyée par le client était
        syntaxiquement incorrecte.</u></p><HR size="1" noshade="noshade"><h3>Apache
        Tomcat/7.0.53</h3></body></html>'
  recorded_at: 2019-03-27 12:53:34 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
