http_interactions:
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/taxa/110335/media
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/hal+json; version=1;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"_embedded":{"media":[{"taxon":{"id":110335,"scientificName":"Ophrys
        apifera","fullNameHtml":"<i>Ophrys apifera</i> Huds., 1762","referenceId":110335,"parentId":195496,"referenceNameHtml":"<i>Ophrys
        apifera</i> Huds., 1762"},"copyright":"J.-C. de Massary","title":null,"licence":"CC
        BY-NC-SA","mimeType":"image/jpeg","_links":{"self":{"href":"https://taxref.mnhn.fr/api/media/119915"},"taxon":{"href":"https://taxref.mnhn.fr/api/taxa/110335"},"file":{"href":"https://taxref.mnhn.fr/api/media/download/inpn/119915"},"thumbnailFile":{"href":"https://taxref.mnhn.fr/api/media/download/thumbnail/119915"}}},{"taxon":{"id":110335,"scientificName":"Ophrys
        apifera","fullNameHtml":"<i>Ophrys apifera</i> Huds., 1762","referenceId":110335,"parentId":195496,"referenceNameHtml":"<i>Ophrys
        apifera</i> Huds., 1762"},"copyright":"S. Filoche","title":null,"licence":"CC
        BY-NC-SA","mimeType":"image/jpeg","_links":{"self":{"href":"https://taxref.mnhn.fr/api/media/123078"},"taxon":{"href":"https://taxref.mnhn.fr/api/tax[...]
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/taxa/blabla/media
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 400
      category: Client error
      reason: Bad Request
      message: 'Client error: (400) Bad Request'
    headers:
      content-language: fr
      content-type: text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: '<html><head><title>Apache Tomcat/7.0.53 - Rapport d''''erreur</title><style><!--H1
        {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:22px;}
        H2 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:16px;}
        H3 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:14px;}
        BODY {font-family:Tahoma,Arial,sans-serif;color:black;background-color:white;}
        B {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;}
        P {font-family:Tahoma,Arial,sans-serif;background:white;color:black;font-size:12px;}A
        {color : black;}A.name {color : black;}HR {color : #525D76;}--></style> </head><body><h1>Etat
        HTTP 400 - </h1><HR size="1" noshade="noshade"><p><b>type</b> Rapport d''''état</p><p><b>message</b>
        <u></u></p><p><b>description</b> <u>La requête envoyée par le client était
        syntaxiquement incorrecte.</u></p><HR size="1" noshade="noshade"><h3>Apache
        Tomcat/7.0.53</h3></body></html>'
  recorded_at: 2019-03-26 17:32:19 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
[...]
