http_interactions:
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/taxa/185694/classification
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/hal+json; version=1;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"_embedded":{"taxa":[{"id":349525,"referenceId":349525,"parentId":null,"scientificName":"Biota","authority":null,"fullName":"Biota
        ","fullNameHtml":"Biota","rankId":"Dumm","rankName":"Domaine","referenceName":"Biota
        ","referenceNameHtml":"Biota","frenchVernacularName":null,"englishVernacularName":null,"genusName":null,"familyName":null,"orderName":null,"className":null,"phylumName":null,"kingdomName":null,"vernacularGenusName":null,"vernacularFamilyName":null,"vernacularOrderName":null,"vernacularClassName":null,"vernacularPhylumName":null,"vernacularKingdomName":null,"vernacularGroup1":"Autres","vernacularGroup2":"Autres","habitat":null,"fr":"P","gf":"P","mar":"P","gua":"P","sm":"P","sb":"P","spm":"P","may":"P","epa":"P","reu":"P","sa":"P","ta":"P","nc":"P","wf":"P","pf":"P","cli":"P","taxrefVersion":null,"_links":{"self":{"href":"https://taxref.mnhn.fr/api/taxa/349525"},"reference":{"href":"https://taxref.mnhn.fr/api/taxa/349525"},"classification":{"href":"https://taxref.mnhn.fr/api/taxa/349525/classification"},"synonyms":{"href":"https://taxref.mnhn.fr/api/taxa/349525/synonyms"},"children":{"href":"https://taxref.mnhn.fr/api/taxa/349525/children"},"vernacularNames":{"href":"https://taxref.mnhn.fr/api/taxa/349525/vernacularNames"},"media":{"href":"https://taxref.mnhn.fr/api/taxa/349525/media"},"status":{"href":"https://taxref.mnhn.fr/api/taxa/349525/status/lines"},"interactions":{"href":"https://taxref.mnhn.fr/api/taxa/349525/interactions"},"taxrefHistory":{"href":"https://taxref.mnhn.fr/api/taxa/349525/taxrefHistory"},"externalIds":{"href":"https://taxref.mnhn.fr/api/taxa/349525/externalIds"},"taxonomicRank":{"href":"https://taxref.mnhn.fr/api/taxonomicRanks/Dumm"},"taxrefUri":{"href":"http://taxref.mnhn.fr/lod/taxon/349525"},"inpnWebpage":{"href":"https://inpn.mnhn.fr/espece/cd_nom/349525"}}},{"id":183716,"referenceId":183716,"parentId":349525,"scientificName":"Animalia","authority":"Linnaeus,
        1758","fullName":"Animalia Linnaeus, 1758","fullNameHtml":"Animalia Linnaeus,
        1758","rankId":"KD","rankName":"Règne","referenceName":"Animalia Linnaeus,
        1758","referenceNameHtml":"Animalia Linnaeus, 1758","frenchVernacularName":"Animaux","englishVernacularName":"animals","genusName":null,"familyName":null,"orderName":null,"className":null,"phylumName":null,"kingdomName":"Animalia","vernacularGenusName":null,"vernacularFamilyName":null,"vernacularOrderName":null,"vernacularClassName":null,"vernacularPhylumName":null,"vernacularKingdomName":"Animaux","vernacularGroup1":"Autres","vernacularGroup2":"Autres","habitat":null,"fr":"P","gf":"P","mar":"P","gua":"P","sm":"P","sb":"P","spm":"P","may":"P","epa":"P","reu":"P","sa":"P","ta":"P","nc":"P","wf":"P","pf":"P","cli":"P","taxrefVersion":null,"_links":{"self":{"href":"https://taxref.mnhn.fr/api/taxa/183716"},"reference":{"href":"https://taxref.mnhn.fr/api/taxa/183716"},"parent":{"href":"https://taxref.mnhn.fr/api/taxa/349525"},"classification":{"href":"https://taxref.mnhn.fr/api/taxa/183716/classification"},"synonyms":{"href":"https://taxref.mnhn.fr/api/taxa/183716/synonyms"},"children":{"href":"https://taxref.mnhn.fr/api/taxa/183716/children"},"vernacularNames":{"href":"https://taxref.mnhn.fr/api/taxa/183716/vernacularNames"},"media":{"href":"https://taxref.mnhn.fr/api/taxa/183716/media"},"status":{"href":"https://taxref.mnhn.fr/api/taxa/183716/status/lines"},"interac[...]
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/taxa/123/classification
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/hal+json; version=1;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://taxref.mnhn.fr/api/taxa/123/classification"}}}'
  recorded_at: 2019-03-27 13:26:32 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/taxa/A/classification
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 400
      category: Client error
      reason: Bad Request
      message: 'Client error: (400) Bad Request'
    headers:
      content-language: en
      content-type: text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: '<html><head><title>Apache Tomcat/7.0.53 - Error report</title><style><!--H1
        {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:22px;}
        H2 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:16px;}
        H3 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:14px;}
        BODY {font-family:Tahoma,Arial,sans-serif;color:black;background-color:white;}
        B {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;}
        P {font-family:Tahoma,Arial,sans-serif;background:white;color:black;font-size:12px;}A
        {color : black;}A.name {color : black;}HR {color : #525D76;}--></style> </head><body><h1>HTTP
        Status 400 - </h1><HR size="1" noshade="noshade"><p><b>type</b> Status report</p><p><b>message</b>
        <u></u></p><p><b>description</b> <u>The request sent by the client was syntactically
        incorrect.</u></p><HR size="1" noshade="noshade"><h3>Apache Tomcat/7.0.53</h3></body></html>'
  recorded_at: 2019-03-27 13:26:32 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
