http_interactions:
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/taxa/443498
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/hal+json; version=1;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":443498,"referenceId":443498,"parentId":899341,"scientificName":"Bradypodidae","authority":"Gray,
        1821","fullName":"Bradypodidae Gray, 1821","fullNameHtml":"Bradypodidae Gray,
        1821","rankId":"FM","rankName":null,"referenceName":"Bradypodidae Gray, 1821","referenceNameHtml":"Bradypodidae
        Gray, 1821","frenchVernacularName":"Paresseux tridactyles, Aïs","englishVernacularName":"Three-toed
        sloths","genusName":null,"familyName":"Bradypodidae","orderName":"Pilosa","className":"Mammalia","phylumName":"Chordata","kingdomName":"Animalia","vernacularGenusName":null,"vernacularFamilyName":"Paresseux
        tridactyles, Aïs","vernacularOrderName":null,"vernacularClassName":"Mammifères","vernacularPhylumName":"Chordés","vernacularKingdomName":"Animaux","vernacularGroup1":null,"vernacularGroup2":null,"habitat":null,"fr":null,"gf":"P","mar":null,"gua":null,"sm":null,"sb":null,"spm":null,"may":null,"epa":null,"reu":null,"sa":null,"ta":null,"nc":null,"wf":null,"pf":null,"cli":null,"taxrefVersion":"12.0","_links":{"self":{"href":"https://taxref.mnhn.fr/api/taxa/443498"},"reference":{"href":"https://taxref.mnhn.fr/api/taxa/443498"},"parent":{"href":"https://taxref.mnhn.fr/api/taxa/899341"},"classification":{"href":"https://taxref.mnhn.fr/api/taxa/443498/classification"},"synonyms":{"href":"https://taxref.mnhn.fr/api/taxa/443498/synonyms"},"children":{"href":"https://taxref.mnhn.fr/api/taxa/443498/children"},"vernacularNames":{"href":"https://taxref.mnhn.fr/api/taxa/443498/vernacularNames"},"media":{"href":"https://taxref.mnhn.fr/api/taxa/443498/media"},"status":{"href":"https://taxref.mnhn.fr/api/taxa/443498/status/lines"},"interactions":{"href":"https://taxref.mnhn.fr/api/taxa/443498/interactions"},"taxrefHistory":{"href":"https://taxref.mnhn.fr/api/taxa/443498/taxrefHistory"},"externalIds":{"href":"https://taxref.mnhn.fr/api/taxa/443498/externalIds"},"taxonomicRank":{"href":"https://taxref.mnhn.fr/api/taxonomicRanks/FM"},"taxrefUri":{"href":"http://taxref.mnhn.fr/lod/taxon/443498"},"inpnWebpage":{"href":"https://inpn.mnhn.fr/espece/cd_nom/443498"}}}'
  recorded_at: 2019-03-26 17:26:36 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/taxa/blabla
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 400
      category: Client error
      reason: Bad Request
      message: 'Client error: (400) Bad Request'
    headers:
      content-language: fr
      content-type: text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: '<html><head><title>Apache Tomcat/7.0.53 - Rapport d''''erreur</title><style><!--H1
        {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:22px;}
        H2 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:16px;}
        H3 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:14px;}
        BODY {font-family:Tahoma,Arial,sans-serif;color:black;background-color:white;}
        B {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;}
        P {font-family:Tahoma,Arial,sans-serif;background:white;color:black;font-size:12px;}A
        {color : black;}A.name {color : black;}HR {color : #525D76;}--></style> </head><body><h1>Etat
        HTTP 400 - </h1><HR size="1" noshade="noshade"><p><b>type</b> Rapport d''''état</p><p><b>message</b>
        <u></u></p><p><b>description</b> <u>La requête envoyée par le client était
        syntaxiquement incorrecte.</u></p><HR size="1" noshade="noshade"><h3>Apache
        Tomcat/7.0.53</h3></body></html>'
  recorded_at: 2019-03-26 17:26:36 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
[...]
