http_interactions:
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/taxa/110335/interactions
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/hal+json; version=1;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"_embedded":{"interactions":[{"taxon":{"id":241554,"scientificName":null,"fullNameHtml":"<i>Exosoma
        lusitanicum</i> (Linnaeus, 1767)","referenceId":241554,"parentId":null,"referenceNameHtml":"<i>Exosoma
        lusitanicum</i> (Linnaeus, 1767)"},"relationId":"POLLINISATEUR","relationName":"est
        un pollinisateur de","specificity":"régulière","inherited":false,"target":{"id":110335,"scientificName":null,"fullNameHtml":"<i>Ophrys
        apifera</i> Huds., 1762","referenceId":110335,"parentId":null,"referenceNameHtml":"<i>Ophrys
        apifera</i> Huds., 1762"},"source":{"id":197629,"fullCitation":"Martir&eacute;,
        D. &amp; Merlier, F. 2017. <em>Guide des plus beaux col&eacute;opt&egrave;res</em>.
        Collection R&eacute;f&eacute;rences Nature. Belin. 319 pp.","url":null,"doi":null,"doiUri":null,"zooBankId":null,"zooBankUri":null,"abstract":null},"_links":{"self":{"href":"https://taxref.mnhn.fr/api/interactions/0"}}}]},"_links":{"self":{"href":"https://taxref.mnhn.fr/api/taxa/110335/status/columns"}}}'
  recorded_at: 2019-03-26 17:29:13 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/taxa/blabla/interactions
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 400
      category: Client error
      reason: Bad Request
      message: 'Client error: (400) Bad Request'
    headers:
      content-language: fr
      content-type: text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: '<html><head><title>Apache Tomcat/7.0.53 - Rapport d''''erreur</title><style><!--H1
        {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:22px;}
        H2 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:16px;}
        H3 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:14px;}
        BODY {font-family:Tahoma,Arial,sans-serif;color:black;background-color:white;}
        B {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;}
        P {font-family:Tahoma,Arial,sans-serif;background:white;color:black;font-size:12px;}A
        {color : black;}A.name {color : black;}HR {color : #525D76;}--></style> </head><body><h1>Etat
        HTTP 400 - </h1><HR size="1" noshade="noshade"><p><b>type</b> Rapport d''''état</p><p><b>message</b>
        <u></u></p><p><b>description</b> <u>La requête envoyée par le client était
        syntaxiquement incorrecte.</u></p><HR size="1" noshade="noshade"><h3>Apache
        Tomcat/7.0.53</h3></body></html>'
  recorded_at: 2019-03-26 17:29:13 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
[...]
