http_interactions:
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/taxrefVersions
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/hal+json; version=1;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"_embedded":{"taxrefVersions":[{"id":2,"name":"2.0","date":"15/02/2008","responsable":"O.
        Gargominy","current":false,"_links":{"self":{"href":"https://taxref.mnhn.fr/api/taxrefVersions/2"}}},{"id":3,"name":"3.0","date":"20/09/2010","responsable":"O.
        Gargominy","current":false,"_links":{"self":{"href":"https://taxref.mnhn.fr/api/taxrefVersions/3"}}},{"id":4,"name":"4.0","date":"12/10/2011","responsable":"O.
        Gargominy","current":false,"_links":{"self":{"href":"https://taxref.mnhn.fr/api/taxrefVersions/4"}}},{"id":5,"name":"5.0","date":"18/07/2012","responsable":"O.
        Gargominy","current":false,"_links":{"self":{"hr[...]
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/taxrefVersions/2
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/hal+json; version=1;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":2,"name":"2.0","date":"15/02/2008","responsable":"O. Gargominy","current":false,"_links":{"self":{"href":"https://taxref.mnhn.fr/api/taxrefVersions/2"}}}'
  recorded_at: 2019-04-10 13:10:28 GMT
  recorded_with: vcr/0.2.6.9100, webmockr/0.3.4
[...]
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/taxrefVersions/ASDF
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 400
      category: Client error
      reason: Bad Request
      message: 'Client error: (400) Bad Request'
    headers:
      content-language: en
      content-type: text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: '<html><head><title>Apache Tomcat/7.0.53 - Error report</title><style><!--H1
        {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:22px;}
        H2 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:16px;}
        H3 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:14px;}
        BODY {font-family:Tahoma,Arial,sans-serif;color:black;background-color:white;}
        B {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;}
        P {font-family:Tahoma,Arial,sans-serif;background:white;color:black;font-size:12px;}A
        {color : black;}A.name {color : black;}HR {color : #525D76;}--></style> </head><body><h1>HTTP
        Status 400 - </h1><HR size="1" noshade="noshade"><p><b>type</b> Status report</p><p><b>message</b>
        <u></u></p><p><b>description</b> <u>The request sent by the client was syntactically
        incorrect.</u></p><HR size="1" noshade="noshade"><h3>Apache Tomcat/7.0.53</h3></body></html>'
  recorded_at: 2019-04-10 13:10:28 GMT
  recorded_with: vcr/0.2.6.9100, webmockr/0.3.4
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/taxrefVersions/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/hal+json; version=1;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"_embedded":{"taxrefVersions":[{"id":2,"name":"2.0","date":"15/02/2008","responsable":"O.
        Gargominy","cu[...]
