http_interactions:
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/taxonomicRanks
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/hal+json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"_embedded":{"taxonomicRanks":[{"id":"Dumm","name":"Domaine","_links":{"self":{"href":"https://taxref.mnhn.fr/api/taxonomicRanks/Dumm"},"taxrefUri":{"href":"http://taxref.mnhn.fr/lod/taxrank/Domain"},"taxonConceptUri":{"href":"http://lod.taxonconcept.org/ontology/txn.owl#RankDomain"},"taxRankUri":{"href":"http://purl.obolibrary.org/obo/TAXRANK_0000037"},"tdwgUri":{"href":"http://rs.tdwg.org/ontology/voc/TaxonRank#Domain"},"geoSpeciesUri":{"href":"http://rdf.geospecies.org/ont/geospecies#TaxonRank_domain"}}},{"id":"SPRG","name":"Super-Règne","_links":{"self":{"href":"https://taxref.mnhn.fr/api/taxonomicRanks/SPRG"},"taxrefUri":{"href":"http://taxref.mnhn.fr/lod/taxrank/Super-kingdom"},"tdwgUri":{"href":"http://rs.tdwg.org/ontology/voc/TaxonRank#SuperKingdom"},"ncbiUri":{"href":"http://purl.obolibrary.org/obo/NCBITaxon_superkingdom"}}},{"id":"KD","name":"Règne","_links":{"self":{"href":"https://taxref.mnhn.fr/api/taxonomicRanks/KD"},"taxrefUri":{"href":"http://taxref.mnhn.fr/lod/taxrank/Kingdom"},"taxonConceptUri":{"href":"http://lod.taxonconcept.org/ontology/txn.owl#RankKingdom"},"taxRankUri":{"href":"http://purl.obolibrary.org/obo/TAXRANK_0000017"},"tdwgUri":{"href":"http://rs.tdwg.org/ontology/voc/TaxonRank#Kingdom"},"geoSpeciesUri":{"href":"http://rdf.geosp[...]
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/taxonomicRanks/AB
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/hal+json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"AB","name":"Abberatio","_links":{"self":{"href":"https://taxref.mnhn.fr/api/taxonomicRanks/AB"},"taxrefUri":{"href":"http://taxref.mnhn.fr/lod/taxrank/Abberatio"}}}'
  recorded_at: 2019-03-27 13:29:37 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/taxonomicRanks/ASDF
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 404
      category: Client error
      reason: Not Found
      message: 'Client error: (404) Not Found'
    headers:
      content-type: text/plain
    body:
      encoding: UTF-8
      string: ''
  recorded_at: 2019-03-27 13:29:37 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/taxonomicRanks/9
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 404
      category: Client error
      reason: Not Found
      message: 'Client error: (404) Not Found'
    headers:
      content-type: text/plain
    body:
      encoding: UTF-8
      string: ''
  recorded_at: 2019-03-27 13:29:37 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
