http_interactions:
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/taxa/autocomplete?term=Bra&page=1&size=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/hal+json; version=1;charset=UTF-8
    body:
      encoding: UTF-8
      file: ~
      string: '{"_embedded":{"taxa":[{"id":210879,"scientificName":null,"fullNameHtml":"<i>Brachylomia</i>
        Hampson, 1906","referenceId":210879,"parentId":782082,"referenceNameHtml":"<i>Brachylomia</i>
        Hampson, 1906","_links":{"self":{"href":"https://taxref.mnhn.fr/api/taxa/210879"}}}]},"_links":{"self":{"href":"https://taxref.mnhn.fr/api/taxa/autocomplete?term=Bra&page=1&size=1{&taxonomicRanks,territories,domain}","templated":true},"first":{"href":"https://taxref.mnhn.fr/api/taxa/autocomplete?term=Bra&page=1&size=1{&taxonomicRanks,territories,domain}","templated":true},"next":{"href":"https://taxref.mnhn.fr/api/taxa/autocomplete?term=Bra&page=2&size=1{&taxonomicRanks,territories,domain}","templated":true},"last":{"href":"https://taxref.mnhn.fr/api/taxa/autocomplete?term=Bra&page=6979&size=1{&taxonomicRanks,territories,domain}","templated":true}},"page":{"size":1,"totalElements":6979,"totalPages":6979,"number":1}}'
  recorded_at: 2022-06-12 11:23:37 GMT
  recorded_with: vcr/1.0.2.93, webmockr/0.8.0
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/taxa/autocomplete?term=ASDF&page=1&size=200
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/hal+json; version=1;charset=UTF-8
    body:
      encoding: UTF-8
      file: ~
      string: '{"_links":{"self":{"href":"https://taxref.mnhn.fr/api/taxa/autocomplete?term=ASDF&page=1&size=200{&taxonomicRanks,territories,domain}","templated":true},"first":{"href":"https://taxref.mnhn.fr/api/taxa/autocomplete?term=ASDF&page=1&size=200{&taxonomicRanks,territories,domain}","templated":true},"last":{"href":"https://taxref.mnhn.fr/api/taxa/autocomplete?term=ASDF&page=0&size=200{&taxonomicRanks,territories,domain}","templated":true}},"page":{"size":0,"totalElements":0,"totalPages":0,"number":1}}'
  recorded_at: 2022-06-12 11:23:37 GMT
  recorded_with: vcr/1.0.2.93, webmockr/0.8.0
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/taxa/autocomplete?term=Heli&territories=fr&territories=gf&page=1&size=2
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/hal+json; version=1;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"_embedded":{"taxa":[{"id":193148,"scient[...]
