http_interactions:
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/taxa/107003/taxrefHistory
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/hal+json; version=1;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"_embedded":{"taxa":[{"id":107003,"referenceId":107003,"parentId":null,"scientificName":"Lycopodium
        clavatum","authority":null,"fullName":"Lycopodium clavatum","fullNameHtml":"Lycopodium
        clavatum</i> L.","rankId":"ES","rankName":null,"referenceName":null,"referenceNameHtml":"Lycopodium
        clavatum</i> L.","frenchVernacularName":"Lycopode en massue","englishVernacularName":"Stag''s-horn
        Clubmoss","genusName":null,"familyName":"Lycopodiaceae","orderName":"Lycopodiales","className":"Lycopsida","phylumName":"Pteridophyta","kingdomName":"Plantae","vernacularGenusName":null,"vernacularFamilyName":null,"vernacularOrderName":null,"vernacularClassName":null,"vernacularPhylumName":null,"vernacularKingdomName":null,"vernacularGroup1":null,"vernacularGroup2":null,"habitat":null,"fr":"P","gf":null,"mar":null,"gua":null,"sm":null,"sb":null,"spm":"P","may":null,"epa":null,"reu":null,"sa":null,"ta":null,"nc":null,"wf":null,"pf":null,"cli":null,"taxrefVersion":"2.0","_links":{"self":{"href":"https://taxref.mnhn.fr/api/taxa/107003"},"reference":{"href":"https://taxref.mnhn.fr/api/taxa/107003"},"classification":{"href":"https://taxref.mnhn.fr/api/taxa/107003/classification"},"synonyms":{"href":"https://taxref.mnhn.fr/api/taxa/107003/synonyms"},"children":{"href":"https://taxref.mnhn.fr/api/taxa/107003/children"},"vernacularNames":{"href":"https://taxref.mnhn.fr/api/taxa/107003/vernacularNames"},"media":{"href":"https://taxref.mnhn.fr/api/taxa/107003/media"},"status":{"href":"https://taxref.mnhn.fr/api/taxa/107003/status/lines"},"interactions":{"href":"https://taxref.mnhn.fr/api/taxa/107003/interactions"},"taxrefHistory":{"href":"https://taxref.mnhn.fr/api/taxa/107003/taxrefHistory"},"externalIds":{"href":"https://taxref.mnhn.fr/api/taxa/107003/externalIds"},"taxonomicRank":{"href":"https://taxref.mnhn.fr/api/taxonomicRanks/ES"},"taxrefUri":{"href":"http://taxref.mnhn.fr/lod/taxon/107003"},"inpnWebpage":{"href":"https://inpn.mnhn.fr/espece/cd_nom/107003"}}},{"id":107003,"referenceId":107003,"parentId":194337,"scientificName":"Lycopodium
        clavatum","authority":"L.","fullName":"Lycopodium clavatum L.","fullNameHtml":"Lycopodium
        clavatum</i> L.","rankId":"ES","rankName":null,"referenceName":"Lycopodium
        clavatum L.","referenceNameHtml":"Lycopodium clavatum</i> L.","frenchVernacularName":"Lycopode
        en massue","englishVernacularName":"Stag''s-horn Clubmoss","genusName":"Lycopodium","familyName":"Lycopodiaceae","orderName":"Lycopodiales","className":"Lycopsida","phylumName":"Pteridophyta","kingdomName":"Plantae","vernacularGenusName":null,"vernacularFamilyName":null,"vernacularOrderName":null,"vernacularClassName":null,"vernacularPhylumName":"Ptéridophytes","vernacularKingdomName":"Plantes","vernacularGroup1":null,"vernacularGroup2":null,"habitat":"7","fr":"P","gf":null,"mar":null,"gua":null,"sm":null,"sb":null,"spm":"P","may":null,"epa":null,"reu":null,"sa":null,"ta":null,"nc":null,"wf":null,"pf":null,"cli":null,"taxrefVersion":"3.0","_links":{"self":{"href":"https://taxref.mnhn.fr/api/taxa/107003"},"reference":{"href":"https://taxref.mnhn.fr/api/taxa/107003"},"parent":{"href":"https://taxref.mnhn.fr/api/taxa/194337"},"classification":{"href":"https://taxref.mnhn.fr/api/taxa/107003/classification"},"synonyms":{"href":"https://taxref.mnhn.fr/api/taxa/107003/synonyms"},"children":{"href":"https://taxref.mnhn.fr/api/taxa/107003/children"},"vernacularNames":{"href":"https://taxref.mnhn.fr/api/taxa/107003/vernacularNames"},"media":{"href":"https://taxref.mnhn.fr/api/taxa/107003/media"},"status":{"href":"https://taxref.mnhn.fr/api/taxa/107003/status/lines"},"interac[...]
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/taxa/1234567/taxrefHistory
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 404
      category: Client error
      reason: Not Found
      message: 'Client error: (404) Not Found'
    headers:
      content-type: text/plain
    body:
      encoding: UTF-8
      string: ''
  recorded_at: 2019-03-27 13:08:11 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/taxa/A/taxrefHistory
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 400
      category: Client error
      reason: Bad Request
      message: 'Client error: (400) Bad Request'
    headers:
      content-language: fr
      content-type: text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: '<html><head><title>Apache Tomcat/7.0.53 - Rapport d''''erreur</title><style><!--H1
        {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:22px;}
        H2 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:16px;}
        H3 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:14px;}
        BODY {font-family:Tahoma,Arial,sans-serif;color:black;background-color:white;}
        B {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;}
        P {font-family:Tahoma,Arial,sans-serif;background:white;color:black;font-size:12px;}A
        {color : black;}A.name {color : black;}HR {color : #525D76;}--></style> </head><body><h1>Etat
        HTTP 400 - </h1><HR size="1" noshade="noshade"><p><b>type</b> Rapport d''''état</p><p><b>message</b>
        <u></u></p><p><b>description</b> <u>La requête envoyée par le client était
        syntaxiquement incorrecte.</u></p><HR size="1" noshade="noshade"><h3>Apache
        Tomcat/7.0.53</h3></body></html>'
  recorded_at: 2019-03-27 13:08:11 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
