http_interactions:
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/taxa/107003/status/columns
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/hal+json; version=1;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"_embedded":{"status":[{"taxon":{"id":107003,"scientificName":null,"fullNameHtml":"<i>Lycopodium
        clavatum</i> L., 1753","referenceId":107003,"parentId":null,"referenceNameHtml":"<i>Lycopodium
        clavatum</i> L., 1753"},"requestedLocationId":null,"worldRedList":null,"europeanRedList":"LC","nationalRedList":"LC","localRedList":"CR,CR*,EN,LC,NT,RE","bonnConvention":null,"bernConvention":null,"barcelonaConvention":null,"osparConvention":null,"hffDirective":"CDH5","birdDirective":null,"nationalProtection":null,"regionalProtection":"RV11,RV21,RV23,RV25,RV26,RV31,RV43,RV52,RV53,RV72,RV74","departementalProtection":"DV12,DV42,DV81,PV261,PV382,V06P1,V48P1,V54P3,V61P1","overseaProtection":null,"nationalActionPlan":null,"completedNationalActionPlan":null,"determinanteZnieff":"true","scapNationale":"1-","scapRegionale":"1+,1-,2+,2-,3","sensibilite":"1","biogeoStatus":"A,P","reglementation":"V61P4","noIntroductionReglementation":null,"invasiveReglementation":null,"prioriteActionPubliqueNationale":"0","_links":{"taxon":{"href":"https://taxref.mnhn.fr/api/taxa/107003"}}}]},"_links":{"self":{"href":"https://taxref.mnhn.fr/api/taxa/107003/status/columns"}}}'
  recorded_at: 2019-03-27 12:59:02 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/taxa/443800/status/lines
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/hal+json; version=1;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"_embedded":{"status":[{"taxon":{"id":443800,"scientificName":"Bradypus
        tridactylus","fullNameHtml":"<i>Bradypus tridactylus</i> Linnaeus, 1758","referenceId":443800,"parentId":443585,"referenceNameHtml":"<i>Bradypus
        tridactylus</i> Linnaeus, 1758"},"statusTypeName":"Liste rouge mondiale","statusTypeGroup":"Liste
        rouge","statusCode":"LC","statusName":"Préoccupation mineure","statusRemarks":null,"locationId":"ETATFRA","locationName":"France","locationAdminLevel":"État","sourceId":138262,"source":"IUCN,
        2015. The IUCN Red List of Threatened Species. http://www.iucnredlist.org","requestedLocationId":null,"listedName":null,"_links":{"taxon":{"href":"https://taxref.mnhn.fr/api/taxa/443800"},"statusType":{"href":"https://taxref.mnhn.fr/api/status/types/LRM"},"location":{"href":"https://taxref.mnhn.fr/api/locations/ETATFRA"},"bibliographicResource":{"href":"https://taxref.mnhn.fr/api/sources/138262"}}},{"taxon":{"id":443800,"scientificName":"Bradypus
        tridactylus","fullNameHtml":"<i>Bradypus tridactylus</i> Linnaeus, 1758","referenceId":443800,"parentId":443585,"referenceNameHtml":"<i>Bradypus
        tridactylus</i> Linnaeus, 1758"},"statusTypeName":"Liste rouge nationale","statusTypeGroup":"Liste
        rouge","statusCode":"LC","statusName":"Préoccupation mineure","statusRemarks":null,"locationId":"TER973","locationName":"Guyane","locationAdminLevel":"Territoire","sourceId":160321,"source":"UICN
        France, MNHN, GEPOG, Kwata, Biotope, Hydreco & OSL. 2017. <em>La Liste rouge
        des espèces menacées en France - Chapitre Faune de Guyane française. </em>Paris,
        France. 35 pp.","requestedLocationId":null,"listedName":null,"_links":{"taxon":{"href":"https://taxref.mnhn.fr/api/taxa/443800"},"statusType":{"href":"https://taxref.mnhn.fr/api/status/types/LRN"},"location":{"href":"https://taxref.mnhn.fr/api/locations/TER973"},"bibliographicResource":{"href":"https://taxref.mnhn.fr/api/sources/160321"}}},{"taxon":{"id":443800,"scientificName":"Bradyp[...]
[...]
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/taxa/A/status/columns
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 400
      category: Client error
      reason: Bad Request
      message: 'Client error: (400) Bad Request'
    headers:
      content-language: fr
      content-type: text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: '<html><head><title>Apache Tomcat/7.0.53 - Rapport d''''erreur</title><style><!--H1
        {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:22px;}
        H2 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:16px;}
        H3 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:14px;}
        BODY {font-family:Tahoma,Arial,sans-serif;color:black;background-color:white;}
        B {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;}
        P {font-family:Tahoma,Arial,sans-serif;background:white;color:black;font-size:12px;}A
        {color : black;}A.name {color : black;}HR {color : #525D76;}--></style> </head><body><h1>Etat
        HTTP 400 - </h1><HR size="1" noshade="noshade"><p><b>type</b> Rapport d''''état</p><p><b>message</b>
        <u></u></p><p><b>description</b> <u>La requête envoyée par le client était
        syntaxiquement incorrecte.</u></p><HR size="1" noshade="noshade"><h3>Apache
        Tomcat/7.0.53</h3></body></html>'
  recorded_at: 2019-03-27 12:59:02 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
